body { background: #f1f3f5; font-family: 'PingFangSC','Tahoma', 'helvetica','hiragino sans gb','arial', 'Microsoft YaHei','Simsun','sans-serif' ; color: #333; font-size: 12px; }
dd, p { padding: 0; margin: 0; }
h3, h4 { font-weight: normal; margin: 0; }
ul { list-style: none; margin: 0; padding: 0; }
table { width: 100%; border-collapse: collapse; }
/*图标的url*/
/*菜单距离两边的留白距离*/
/*左侧菜单背景色*/
/*z链接字体选中颜色*/
.menu-fold { }
.menu-fold > label { position: fixed; cursor: pointer; left: 246px; top: 8px; padding: 6px 3px; z-index: 5; transform: scale(.8); transition: all .3s; background: #fdfcfc; color: #666; font-size: 14px;opacity:0 }
.menu-fold > label:hover { background: #f3f3f3 }
.menu-fold .mf-hide { left: 57px }
.menu-fold i { font-size: 18px; color: #c6c4c4; }
.menu-fold > label .icon-angle-left { }
.menu-fold > label .icon-angle-right {display:none }
.menu-fold .mf-hide .icon-angle-left {display:none }
.menu-fold .mf-hide .icon-angle-right { display: inline-block }
.loading { position: fixed; left: 50%; top: 75px; }
.skin-yellow .left-menu .main-menu { background: #ffb980; }
.skin-yellow .left-menu .main-menu .menu-item.select dt { background: #d69866; }
.skin-yellow .main-head ul li.select { color: #b4bd38; border-bottom-color: #b4bd38; }
.skin-yellow .left-menu .main-menu .menu-item dd li.select { background: #e9ecb9; border-right: 5px solid #b4bd38; }
.left-menu { position: fixed; left: 0; bottom: 0; top: 0; width: 247px; background: #fdfdfd; border-right: 1px solid #ddd; overflow: hidden }
.left-menu .main-menu { width:58px; background: #1d3e83; height: 100%; }
.left-menu .main-menu .menu-item { margin:0; }
.left-menu .main-menu .menu-item dt { padding: 18px 0; text-align: center; cursor: pointer; transition: box-shadow .3s ;position: relative;}
/*.left-menu .main-menu .menu-item dt i { display: inline-block; background: url("../Images/new/main_menu_ico.png") -3px -37px; width: 32px; height: 32px; transform: scale(0.8); transition: transform .4s }*/
.left-menu .main-menu .menu-item dt i { transition: transform .4s; color: #bedced; font-size: 18px; display: inline-block }
.left-menu .main-menu .menu-item dd { display: none; position: absolute; top: 0; left: 58px; right: 0; bottom: 0; overflow: auto; }
.left-menu .main-menu .menu-item dd .line { border-top: 1px solid #d7dee5; margin-right: 5px; margin-left: 5px; margin-top: 8px; }
.left-menu .main-menu .menu-item.select { background: #152e6b; }
.left-menu .main-menu .menu-item.select dt {  }
.left-menu .main-menu .menu-item dt:hover { background: #152e6b; box-shadow: -3px 0 2px 2px #152e6b; }
.left-menu .main-menu .menu-item dt:hover i {transform: translateY(-7px) scale(1.1);}
.left-menu .main-menu .menu-item dt:hover .dt-tips { opacity:1;bottom:4px}
.left-menu .main-menu .menu-item.select dt:after { position: absolute; content: ''; border-right: 6px solid #edf1f6; border-top: 6px solid transparent; border-bottom: 6px solid transparent; right: 0; top: 21px; }
.left-menu .main-menu .menu-item.select dd { display: block; width: 190px }
/**/
.left-menu .user-face { text-align: center; padding: 12px 0;position:relative }
.left-menu .user-face img { width: 32px; height: 32px; border-radius: 16px;cursor:pointer }
.user-down { position: fixed; top: 6px; width: 188px; box-shadow: 0 0 24px rgba(0,0,0,.18); left: 58px; background: #fff;z-index:6;padding:6px 0;display:none }
.user-down li a{ line-height:30px;display:block;color:#666}
.user-down li a i { margin-left:15px;margin-right:10px}
.user-down li a:hover { background: #f3f3f3 }
.left-menu .user-face:hover ul { display: block }
.left-menu .user-face:hover ul a { color:#fff}
.left-menu .menu-search { padding-left: 13px; padding-bottom: 2px; }
.left-menu .menu-search h2 { font-size: 18px; font-weight: bold; margin-top: 27px; padding-bottom: 3px; }
.search-box { border: 1px solid #ddd; background: #f1f3f5; border-radius: 13px; padding: 3px 0; height: 30px; }
.search-box i { display: inline-block; background: url("../Images/new/main_menu_ico.png") -165px -8px; width: 20px; height: 20px; vertical-align: middle; margin-top: -2px; margin-left: 10px; }
.search-box input { width:146px; border: 0; background: #f1f3f5; font-size: 14px; margin-right: 8px; outline: none; }
.main-head { position: absolute; background: #fff; height: 70px; left: 0; top: 0; right: 0; z-index: 2; border-bottom: 1px solid #e0e0e0 }
.main-head h2 { font-weight: normal; font-size: 18px; color: #555; position: absolute; left: 22px; top: 6px; }
.main-head>ul { color: #666; font-size: 15px; padding-left: 5px; padding-top: 40px; text-align: center; }
.main-head>ul>li { display: inline-block; margin: 0 8px;cursor:pointer }
.main-head ul li.select { color: #3dbaff; border-bottom: 2px solid #3dbaff; }
.main-head .logo { position: absolute; top: 8px; right: 40px; }
.main-head .logo img { height:37px }
.main-head .mh-menu { position: absolute; right: 30px; padding-top: 27px;color:#444 }
.main-head .mh-menu a { color:#444}
.main-head .mh-menu > li i { margin-right: 4px; font-size: 16px; }
.main-head .mh-menu .badge { background: #ff0000; font-weight: 500; padding: 1px 4px; margin-top: -18px; }
.mh-menu .dropdown-menu > li > a { padding: 5px 20px; color: #666; }
.mh-menu .dropdown-menu > li i { margin-right:7px}
.main-con { background: #fff; margin: 12px; border: 1px solid #ddd; border-radius: 4px; }
.main-con .mc-left { float: left; width: 33%; }
.main-con .mcl-title { font-weight: normal; font-size: 15px; border: 1px solid #d7dee5; background: #f5f6fa; height: 40px; line-height: 40px; position: relative; padding-left: 16px; }
.main-con .mcl-title:before { position: absolute; content: ''; top: 0; left: 0; bottom: 0; width: 4px; background: #6d7781; }
.project-info li { border: 1px solid #eee; border-top: 0; zoom: 1; line-height: 22px; padding: 5px 0; font-size: 13px; }
.project-info li:after { content: ''; display: block; clear: both; }
.project-info li span { float: left; padding-left: 15px; color: #888; }
.project-info li p { float: left; padding-left: 4px; }
.pi-xs2 { border-left:1px solid #eee}
.pi-xs2 li { float: left; width: 50%; height: 32px; border-left: 0 }
.main-con .mc-right { float: right; width: 66%; padding-right: 6px; box-sizing: border-box; }
.main-con .mc-right .project-pie-chart { height: 220px; padding: 10px 0; }
.main-con .mc-right .project-pie-chart .pie-chart-l { float: left; width: 49.5%; height: 100%; background: #f7f7f7; }
.main-con .mc-right .project-pie-chart .pie-chart-r { float: right; width: 49.5%; height: 100%; background: #f7f7f7; }
.main-con .mc-right .project-pie-chart h4 { font-size: 15px; padding-left: 10px; padding-top: 5px; height: 4px; }
.main-con .mc-right .project-cost { border: 1px solid #d7dee5; padding: 6px; }
.main-con .mc-right .project-cost h3 { font-size: 15px; padding-left: 8px; padding-top: 5px; }
.main-con:after { content: ''; display: block; clear: both; }
.project-table { font-size: 13px; line-height: 26px; }
.project-table th { background: #e4e7f2; padding: 5px 0; padding-left: 3px; }
.project-table td { padding: 6px 0; padding-left: 3px; }
.project-table tbody tr:nth-child(even) { background: #f5f6fa; }
.project-table  .fm-text.readonly { border-bottom:0}
.skin-change-bt { padding: 5px; padding-left: 17px; }
.skin-change-bt span { display: inline-block; width: 8px; height: 8px; cursor: pointer; margin: 0 2px; }
.skin-change-bt .s-blue { background: #1d3e83; }
.skin-change-bt .s-yellow { background: #ffb980; }
.dl-menu li { line-height: 40px; position: relative; font-size: 15px; }
.dl-menu li h3 { font-size: 12px; font-weight: bold; padding-left: 30px; margin: 0; line-height: 36px; }
.dl-menu li h3.select { background: #def0fa; border-right: 3px solid #3798e9; }
.dl-menu li h4 { padding-left: 30px; display: none; line-height: 2.2em; margin: 0; font-size: 12px; height: 2.2em; overflow: hidden; }
.dl-menu li h4.select { background: #def0fa; border-right: 3px solid #3798e9; }
.dl-menu li h4:hover { background: #f3f8fd; }
.dl-menu li h4.select label { margin-right: 9px; }
.dl-menu li h4.select i { color: #3798e9 }
.dl-menu li h4 label { float: right; margin-right: 12px; background: #ef434e; color: #fff; line-height: 16px; border-radius: 8px; margin-top: 11px; font-size: 12px; padding: 0 3px; min-width: 16px; text-align: center; font-weight: normal; }

.dl-menu li h4 i { margin-right: 7px; margin-left: -5px; font-size: 14px; color: #555; }
/*.dl-menu li h4 i:after { position: absolute; display: block; content: ''; height: 46px; width: 19px; background: url("../Images/new/menu_l2_ico.png") -4px 0px; }
*/
.dl-menu li .ico { content: ''; position: absolute; border-left: 6px solid #055555; border-top: 6px solid transparent; border-bottom: 6px solid transparent; left: 13px; top: 14px; }
.dl-menu li.open h4 { display: block; }
.dl-menu li a { color:inherit;display:block}
.dl-menu li a:hover, .dl-menu li a:link { text-decoration: none }
.dl-menu li.open .ico { transform: rotate(45deg); }
.dl-menu li h4 .i2:after { background-position: -32px 0px; }
.dl-menu li h4 .i3:after { background-position: -59px 0px; }
.dl-menu li h4 .i4:after { background-position: -88px 0px; }
.dl-menu li h4 .i5:after { background-position: -114px 0px; }
.dl-menu li h4 .i6:after { background-position: -141px 0px; }
.dl-menu.dm-m li h3 { padding-left: 18px; line-height: 32px;border-left:1px solid #fff; }
.dl-menu.dm-m li h4 { line-height: 30px; color: #555; border-left:1px solid #fff;}
.dl-menu.dm-m li h4 label { margin-top: 6px; }
.dl-menu.dm-m li .active { background: #f1f3f6; border-left: 1px solid #5ebdca; }
.pm-all { font-size: 14px; padding-left: 6px; margin-bottom: 0; line-height: 30px; margin-top: 10px; }
.pm-all.active { background: #f1f3f6; border-left: 1px solid #5ebdca; }
.page-main { position: fixed; left: 247px; top: 0; right: 0; bottom: 0; display: flex; visibility: hidden; transition: all .3s; }
.page-menu { width: 230px; background: #fff; border-right: 1px solid #ddd; overflow: auto; }
.page-menu h2.pm-all { border-left:1px solid #fff;padding-left:18px;font-size:12px; }
.page-menu h2.pm-all.active { border-left:1px solid #5ebdca; }
.page-main .page-con { flex: 1; overflow: auto; }
.seach-bd { padding: 16px 12px; margin: 0 6px; border-bottom: 1px solid #d7dee5; }
.left-menu .main-menu .menu-item.select dd::-webkit-scrollbar,
.page-menu::-webkit-scrollbar { width: 1px; }
.p-ico { display: inline-block; background: url("../Images/new/main_menu_ico.png"); vertical-align: middle; margin-top: -4px; }
.ico-edit { width: 24px; height: 24px; background-position: -3px -3px; transform: scale(0.8); }
.no-submenu .left-menu { width: 58px; }
.no-submenu .left-menu .main-menu .menu-item.select dd { display: none; }
.no-submenu .menu-fold { display: none; }
.no-submenu .page-main { left: 58px; }

/*form-group ma-block*/
.ma-con { padding: 0 10px; }
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .input-group-addon { display: table-cell; }
.input-group .fm-text { display: table-cell; border: 1px solid #CCC; }
.input-group .fm-text .fm-text-input {border:0;width:100%;height:25px;outline:none;text-indent:5px }
.imain { border: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; padding-top: 70px; }

.raise-bd { overflow: auto; /* white-space: nowrap; */ /* height: calc(100vh - 25px); */ padding-right: 12px; column-count: 4; column-gap: 0; }
.raise-dl { background: #fff; padding: 10px; border: 1px solid #e6e8e9; border-top: 0; border-radius: 4px; /* display: inline-block; */ /* width: 300px; */ margin-left: 10px; padding-bottom: 18px; box-shadow: 0 3px 3px #ddd; /* vertical-align: top; */ margin-top: 0; break-inside: avoid; margin-bottom: 10px; }
.raise-dl dt { font-size: 14px; font-weight: bold; padding-left: 16px;line-height:30px }
.raise-dl dd { background: #eee; line-height: 28px; padding-top: 2px; margin: 5px 0; border-radius: 4px; font-size: 12px; color: #555; padding-left: 14px ;position:relative}
.raise-dl dd:hover { background: #def0fa; }
.raise-dl dd .raise-icon { display:inline-block;width:20px;text-align:center}
.raise-dl dd > i { position: absolute; top: 8px; right: 8px; font-size: 15px; }
.raise-dl dd > i:hover{color:sandybrown}
.raise-dl dd .icon-star { color: sandybrown }
.raise-dl dd .icon { font-size: 14px; }
.raise-dl dd a { display:block;color:inherit}
.raise-dl dd a:hover { text-decoration:none}
.flow-center-flex { display: flex }
.flow-center-flex .fcf-right { flex: 1; padding-left: 6px; }
/*分页*/
.zui-pagination { display: inline-block; vertical-align: middle }
.zui-pagination > li { display: inline; }
.zui-pagination > li > a { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #337ab7; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.zui-pagination > li:first-child > a { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.zui-pagination > li:last-child > a { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

/*控制台*/
.clear { zoom: 1 }
.clear:after { display: block; clear: both; content: '' }
.workbench { padding-left: 10px; }
.workbench .workbench-left { float: left; width: 80% }
.workbench .workbench-right { float: right; width: 19.1% }
.w-top-img {position:relative }
.w-top-img img { width: 100%; height: 100px }
.w-top-img .user-info { position: absolute; left: 0; right: 0; top: 0; bottom: 30px; padding-top: 8px; padding-left: 10px; }
.w-top-img .user-info > span {float:left }
.w-top-img .user-info > span img { width:84px;height:84px;border-radius:42px}
.w-top-img .user-info dl { float: left; margin-left: 15px; width: 240px; }
.w-top-img .user-info dl dt { font-size: 15px; border-bottom: 1px solid #c3c2c1; line-height: 24px; padding-top: 0px; font-weight: normal; }
.w-top-img .user-info dl dd { font-size: 12px; line-height: 18px; padding-top: 4px; }
.flow-list-bd { padding-top: 12px }
.flow-list-bd .flb-left { float: left; width: 63% }
.flow-list-bd .flb-right { float: right; width: 36% }
.flow-list { padding: 15px; padding-bottom: 0; margin-bottom: 10px }
.flow-list h3 { font-size: 14px; font-weight: bold; padding-left: 10px; margin-bottom: 10px }
.flow-list h3 .icon-cog { float:right;cursor:pointer}
.flow-list:hover .fl-cog { display: block }
.flow-list h3 .fl-cog { float: right; color: #777; display: none }
.flow-list h3 .fl-cog i { margin: 0 5px;cursor:pointer}
.flow-list h3 .fl-cog i:hover { color: #337ab7 }
.flow-list h3 .icon-cog:hover { color: #337ab7 }
.flow-list h3 > label { border-left: 4px solid #3798e9; padding-left: 6px; display: block }
.flow-list .ul li { color: #373a3c; border-top: 1px solid #eee; padding: 8px 8px }
.flow-list .ul li:first-child { border:0}
.flow-list { background: #fff }
.flow-list .ul li label { float: right; font-weight: normal; font-size: 12px; color: #888 }
.raise-bar { padding-bottom: 10px; margin: 0 -6px; }
.raise-bar li { float: left; width: 48%; margin: 3px 1%; background: #eee; border-radius: 4px; font-size: 13px; color: #555; line-height: 32px; padding-left: 12px }
.raise-bar li a { color: #555; }
.raise-bar li i { margin-right: 4px }
.raise-bar-l li{width:100%;margin:3px 0 }
.flow-favorites { padding-bottom: 10px }
.flow-favorites li { float: left; width: 50%; border-bottom: 1px solid #dddbda; padding: 8px 0; color: #555; height: 55px; }
.flow-favorites li .ff-title {display: inline-block;vertical-align: middle;width: calc(100% - 52px);}
.flow-favorites li .ff-title h2, .flow-favorites li .ff-title h4 { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.flow-favorites li h2 { color: #373a3c; font-size: 14px; margin: 0; line-height: 20px }
.flow-favorites li h4 { color: #3798e9; font-size: 14px; }
.flow-favorites li .icon-angle-right { vertical-align: middle; font-size: 22px;margin-left:3px}
.flow-favorites .fave-ico { background: #3798e9; display: inline-block; vertical-align: middle; color: #fff; width: 22px; line-height: 22px; text-align: center; border-radius: 2px; margin: 0 5px }
.console-50vh { height: calc(50vh - 66px);overflow:auto }
.console-50vh2 { height: calc(50vh - 11px); overflow: auto }
.process-query-bd, .flow-table, .page-menu { height: calc(100vh - 25px); overflow: auto }
.page-menu .p-scroll { height: calc(100vh - 89px); overflow: auto; }
.page-menu .p-scroll::-webkit-scrollbar { width: 1px; }
.role_tree { display: block; position: absolute; width: 250px; left: 10px; }
.flow-table { margin-left: 245px; padding: 10px;padding-top:0 }

.language-switch { padding:5px 18px;font-size:0 }
.language-switch label { display: inline-block; background: #ddd; padding: 1px 10px; font-weight: normal; font-size: 13px; }
.language-switch label.select { background: #253b8b; color: #fff; }

.no-data { position: absolute; width: 100%; left: 0; top: calc(50% - 14px); font-size: 20px; color: #666; }
.vh1 { height: calc(50vh - 120px); overflow: auto; }
.vh2 { height: calc(50vh - 198px); overflow: auto; }
.vh3 { height: calc(38vh - 131px); overflow: auto; }
.vh4 { height: calc(31vh - 100px); overflow: auto; }
.vh5 { height: calc(31vh - 96px); overflow: auto; }
/*工作日历*/
.work-week { padding-bottom: 8px; }
.work-week h6 { font-size: 15px; overflow: hidden; height: 40px; line-height: 40px; position: relative; text-align: center; color: #888; margin-bottom: 0; }
.work-week h6 .content { position: absolute; left: 60px; right: 60px; top: 0; bottom: 0; font-weight: bold; }
.work-week .prev { float: left; font-size: 12px; width: 50px; cursor: pointer; }
.work-week .next { float: right; font-size: 12px; width: 50px; cursor: pointer; }
.work-week p span { width: 14.2857%; float: left; text-align: center; height: 30px; line-height: 30px; }
.work-week p { font-size: 13px; overflow: hidden; height: 30px; font-weight: bold; }
.work-week ul { margin-top: 2px; }
.work-week ul li { width: 14.2857%; float: left; text-align: center; cursor: pointer; font-size: 13px; padding: 2px 0; color: #666; }
.work-week ul li label { display: inline-block; width: 26px; border-radius: 13px; line-height: 26px; font-weight: normal; }
.work-week ul li.select label { background: #3cbaff; color: #fff }
.rlCenter:after { display: block; content: ''; clear: both }

/*门户网站*/
a:hover{text-decoration:none}
.portals-body { background: #f0f0f0 }
.portals-main { width: 1200px; margin: 0 auto }
.portals-head { padding:15px 0}
.portals-head>span{float:left }
.portals-head .workbench-in { float: right; line-height: 24px; margin-top: 20px; background: transparent }
.workbench-in a { background: #3864a0; color: #fff; display: inline-block; padding: 0 10px; border-radius: 4px; }
.workbench-in a i { vertical-align: middle; margin-right: 4px; }
.workbench-in .s { display: inline-block; background: #8c8c8d; width: 24px; text-align: center; border-radius: 12px;margin-left:8px }
.workbench-in .s i{color:#f0f0f0;font-size:16px;}
.portals-banner img{vertical-align:middle;width:100% }
.quick-link { height: 120px ;color:#fff;position:relative;margin-top:-120px}
.quick-link .ql-left { float: left; background: #db413a; height: 100%; width: 85px; color: #e5d2de;position:relative }
.quick-link .ql-left:after { content: ''; position: absolute; border-left: 9px solid #db413a; border-bottom: 9px solid transparent; border-top: 9px solid transparent; right: -9px; top: 16px }
.quick-link .ql-left h4 { font-size: 16px; padding-left: 10px; padding-top: 15px; }
.quick-link .ql-left h5 { font-size: 12px; padding-left: 10px; margin-top: 5px; }
.quick-link .ql-left p { text-align: center; padding-top: 15px; }
.quick-link .ql-left p i { width: 20px; height: 20px; background-position: -113px -63px }
.ico-quick-link { display: inline-block; background: url(../Images/new/quick-link_ico.png) }
.quick-link ul { float:left;height:100%}
.quick-link ul li { float: left; text-align: center; background: #4270a7; border-right: 1px solid #7c9dc4;height:100%;width:123px;cursor:pointer }
.quick-link ul li:hover { background: #6887bd }
.quick-link ul li h2 { display: inline-block; width: 50px; height: 50px; background: #f7f5f5; border-radius: 25px; margin-bottom: 12px; }
.quick-link ul li h2 i{width:26px;height:26px;margin-top:12px }
.quick-link ul li p { }
.ql2 { background-position:-6px -12px}
.ql3 { background-position: -41px -14px }
.ql4{ background-position: -75px -14px }
.ql5 { background-position: -113px -14px }
.ql6 { background-position: -2px -59px }
.ql7 { background-position: -35px -62px }
.ql8 { background-position: -73px -63px }
.quick-link dl { float: left; background: #235b9c ;height:100%;width:250px;padding:10px}
.quick-link dl dt { font-size: 16px; font-weight: normal; }
.quick-link dl dd > a { display: inline-block; background: #3174b1;color:#fff;line-height:28px;width:106px;text-align:center;border-radius:4px;margin-top:9px;margin-right:7px;font-size:13px }
.portals-con .pc-bd1 { float: left; height: 375px; width: 895px; margin-bottom: 15px;padding:10px }
.portals-con .pc-bd1 img { width:100%}
.portals-con .pc-bd2 { float: right; height: 375px; width: 290px; margin-bottom: 15px; background: #3864a0;text-align:center; padding:0 11px}
.portals-con .pc-bd3 { float: left; height: 355px; width: 440px }
.portals-con .pc-bd4 { float: left; height: 355px;width: 440px; margin-left: 15px }
.portals-con .pc-bd5 { float: right; height: 755px;  width: 290px }
.portals-con .pc-bd6 { float: left; height: 385px; width: 455px; margin-top: 15px;padding:20px }
.portals-con .pc-bd7 { float: left; height: 385px; width: 440px; margin-top: 15px }


.portals-con .pc-bd1 p { padding-left:10px;font-size:13px;margin-top:7px }
.portals-con .pc-bd2 table { color:#fff;font-size:13px}
.portals-con .pc-bd2 table td { border-top:1px dashed #fff;line-height:40px}
.portals-con .pc-bd2 table tr:first-child td { border:0}
.portals-con .pc-bd2 table tr td:first-child { text-align:left;padding-left:8px }
.portals-con .pc-bd2 img { margin-top: 11px; margin-bottom: 31px }
.new-dl {padding:18px }
.new-dl dt { border-bottom: 1px solid #d5d5d5; color: #1d3e83 ;font-size:15px;line-height:34px;padding-left:4px;margin-bottom:4px}
.new-dl dd { line-height: 30px; font-size: 13px; border-bottom: 1px solid #f5f5f5; color: #343a40 }
.new-dl dd:hover {background:#f7f7f7 }
.new-dl dd .icon-caret-right { margin-left: 5px; margin-right: 8px; color: #ccc; }
.new-dl dd p { float: right;color:#888 ;font-size:12px}
.pc-bd5 img{ width:100%}
.pc-bd5 ul { padding: 10px; margin-top: 10px; margin-right: 2px; }
.pc-bd5 li { border-top: 1px dashed #aeaeae; padding-top: 18px; height: 110px }
.pc-bd5 li:first-child { border:0}
.pc-bd5 li > span { float: left; width: 92px; text-align: right }
.pc-bd5 li > span img {width:80px;height:80px;border-radius:40px }
.pc-bd5 li > div { float: left;padding-left:10px }
.pc-bd5 li > div h3 { font-size: 15px; padding-top: 5px; font-weight: bold; line-height: 28px; }
.pc-bd5 li > div p { }

.pc-bd6 li {padding-top:6px;padding-bottom:12px }
.pc-bd6 li > span { float: left; width: 180px; }
.pc-bd6 li > span img { width: 177px; height: 95px;}
.pc-bd6 li > div { float: left; padding-left: 12px;width:225px }
.pc-bd6 li > div h3 { font-size: 14px; font-weight: bold; line-height: 28px; color: #1d3e83 }
.pc-bd6 li > div p { color: #343a40; font-size: 13px; line-height: 22px; }

.portals-foot { width:900px;margin:40px auto;}
.portals-foot i { font-size:26px;color:#888}
/*个人资料*/
.personal-main { height:100%;padding:15px;padding-top:70px;display:flex;}
.personal-left { height: 100%; background: #fff; width: 220px; margin-right: 10px }
.personal-right { height: 100%; background: #fff; flex: 1 }
.dt-tips { position: absolute; bottom:-8px; left: 0; right: 0; text-align: center; white-space: nowrap; opacity: 0; color: #a6b2dc; font-weight: normal; transition: all .4s; }
.personal-left .up { text-align:center}
.main { overflow: auto; min-width: 1200px; }
.headPortrait { border-radius: 50px; width: 100px; height: 100px; margin: 20px 0 10px 0 }
.jobNumber { color: #969696; font-size: 13px; line-height: 20px; margin: 6px 0 20px 0; }
.fts20 { font-size: 16px; }
.CallInfo { margin: 10px 10px 0 0; border-bottom: 1px solid #ddd; color: #3dbaff; font-size: 16px; }
.mag20 { margin-top: 12px; border-bottom: 1px solid #ddd; line-height: 28px; font-size: 14px; margin-left: 16px; padding-left: 15px; }
.pad10-50 { padding: 10px 50px; }
.Drop { }
.Drop dd { padding-left: 32px }
.Drop a { color: #666; font-size: 14px; line-height: 32px;display:block }
.Drop .select { background: #f1f3f7; }
.Drop dd:hover { background: #f6f7fb; }
.Drop .select a { color: #3cbaff; border-right: 4px solid #3cbaff }
.Drop dl { margin-bottom:0}
.Drop dd a i { margin-right: 6px }
.Drop dd a label { display: inline-block; width: 26px; text-align: center; margin-bottom:0}
#Right { }
#Right dl { float: left; width: 50%; margin: 10px 0 0 0; }
#Right dl li { line-height: 25px; }
#Right dl li > span { display: inline-block; width: 200px; text-align: right; }
#Right dl li input {height: 20px; border: 1px solid #ccc; width: 220px; text-indent: 5px }
.RightDrop { overflow: auto; }
.required2 { color: red; }
.caiwenji { margin: 0 0 23px 0; padding-left: 273px; }
.clear { clear: both; }
#Right dl li .uploadimg { display: inline-block; position: relative; border: 1px solid #ddd;width:150px;height:200px; }
#Right dl li .uploadimg img { width:100%;height:100%}
#Right dl li .uploadimg label { position: absolute; left: 0; right: 0; bottom: 0; background: #3dbaff; text-align: center; color: #fff; margin-bottom: 0; line-height: 28px; cursor:pointer}
/*日历*/
.calendar-left { background: #fff; left: 58px; top: 0; bottom: 0; width: 240px; position: fixed; border-right: 1px solid #ddd }
.calendar-left h4 {font-size:15px;padding-left:10px;font-weight:bold;padding-top:12px }
#calendar1 { padding:10px}
.calendar-main { flex: 1; background: #fff; border: 1px solid #e0e0e0; border-radius: 4px; }
.calendar-main .work-week h6 { position: absolute; top: 0; left: 280px; width: 202px; }
.calendar-main .work-week ul li { border: 1px solid #f3f3f3; border-bottom: 0; border-left: 0; height: calc(16.6666vh - 22px) }
.calendar-main .work-week ul { border-bottom: 1px solid #f3f3f3 }
.calendar-main .work-week ul li label { display: block; text-align: right; width: auto; line-height: 16px; font-size: 12px; padding-right: 6px; }
.work-week li h5 { background: #bfeafe; font-weight: normal; line-height: 18px; border-left: 3px solid #2dbcff; font-size: 12px; margin: 2px; text-align:left;padding-left:3PX}
.add-schedule { position: absolute; left: 510px; top: 17px; }
.add-schedule input { background: #3cbaff; color: #fff; border: 0; height: 24px; width: 90px; border-radius: 12px; }
/*项目管理*/
.manage-menu ul { height: 46px; line-height: 36px; font-size: 15px; border-bottom: 1px solid #ddd; margin-bottom: 8px; padding-top: 8px; padding-left: 15px; }
.manage-menu ul li { float: left; padding: 0 10px; border: 1px solid #d7dee5; background: #f6f6f6; margin-left: -1px; }
.manage-menu ul li a { color: #666; display: block; padding: 0 10px }
.manage-menu ul .select { border-bottom-color: #fff; background: #fff }
.manage-menu ul li a:hover, .manage-menu ul .select a { color: #3798e9; }
.project-status { background: #eff0f7; padding: 10px 15px; }
.ps-ico { float: left;margin-left:15px;padding-top:16px }
.project-status > ul { float: left; padding-left: 5px; width: 70%; }
.project-status > ul li { font-size:14px;line-height:38px;height:38px}
.project-status > ul .zq { color: #f06b36 }
.progress-bd { display: inline-block; width: 80%; vertical-align: middle; margin-top: -2px;position:relative }
.progress-bd .progress { height: 14px; margin-bottom: 0; }
.progress-txt { position: absolute; color: #76b65c; right: -40px; top: -3px; font-size: 14px; }
.progress-bar-warning .progress-txt { color: #e3b055 }
.progress-bar-danger .progress-txt { color: #c35b5a }
.p-status { float:right}
.p-status label { color: #35cd03; font-weight: normal; margin: 0; }
.p-status label i { display: inline-block; width: 14px; height: 14px; border-radius: 7px; border: 3px solid #c2efb2; background: #35cd03; vertical-align: middle; margin-top: -2px; margin-right: 5px; margin-left: 8px; }
.p-ts { float: left; margin-left:100px; color: #9c2e2c; background: #f2dede; border: 1px solid #eacfd3;text-align:center;border-radius:5px;line-height:28px;font-size:14px;width:70%;margin-top:6px;margin-bottom:4px }
.project-user { margin-top: 16px; font-size: 13px; }
.project-user th, .project-user td { font-weight: normal;border-bottom:1px solid #ccc;line-height:30px;padding-left:8px }
.project-user th {color:#888}
.project-user tr:first-child + tr { color: #2ec7c9 }
.project-user tr:first-child + tr + tr { color: #b6a2de }
.project-user tr:first-child + tr + tr + tr { color: #5ab1ef }
.project-user tr:first-child + tr + tr + tr + tr { color: #ffb980 }
.project-user .detail { border: 1px solid #aaa; color: #aaa; display: inline-block; height: 16px; width: 16px; line-height: 6px; text-align: center; border-radius: 8px; }
.main-con .pro-detail { width: 49.5% }
.pro-tab-s { background: #f5f6fa; height: 40px; line-height: 38px; border: 1px solid #d7dee5 ;font-size:14px}
.pro-tab-s li { float: left;border-right: 1px solid #d7dee5 ;padding:0 12px;cursor:pointer}
.pi-xs2 li.li-l { width: 100% }
.pro-tab-s li.select { border-bottom: 1px solid #fff; background: #fff; color: #3798e9 }
.mcl-title-s { font-size: 15px; background: #f5f6fa ;padding-left:15px;line-height:32px;border-left:1px solid #eee;border-right:1px solid #eee}
.pro-tab-bd-grey { background: #f9f9f9 }
.pro-tab-bd-grey .pro-tab-s li.select { background: #f9f9f9; border-bottom-color: #f9f9f9 }
/*数据表格及搜索条件*/
.input-group-name { text-align: right; font-size: 13px; line-height: 24px; padding-top: 3px; padding-bottom: 3px }
.input-group-value { padding-left: 0; padding-top: 3px; padding-bottom: 3px }
.input-group-value input[type=text], .input-group-value select { border: 1px solid #ced7de; height: 24px; text-indent: 5px; width: 100% }
.input-group-value input[type=text]:focus { background: #f4f6fa }
.form-search-group { padding: 20px 0 }
.form-search-oper { text-align: center; padding-bottom: 10px }
.form-search-oper .btn { margin: 0 10px }


.table-bd { background: #fff; box-shadow: 0 1px 1px rgba(0,0,0,.05), 0 2px 6px 0 rgba(0,0,0,.045); border-radius: 4px; overflow-x: auto }
.table-responsive thead > tr > th { border-bottom: 2px solid #ecf0f4; line-height: 30px; color: #838a9d; font-weight: 400; padding: 4px 0; padding-left: 10px;white-space:nowrap }
.table-responsive td { line-height: 20px; padding: 4px 0; padding-left: 8px; white-space: nowrap }
.table-footer { border-top: 2px solid #ecf0f4; line-height: 36px; padding-left: 22px }
.table-responsive .check-column { width: 45px; text-align: center }
.table-responsive .txt-warp { white-space: nowrap; max-width: 350px; overflow: hidden; text-overflow: ellipsis; height:24px;line-height:24px}
.table-bd .icon-check-empty { font-size: 16px; color: #d6d8dc; vertical-align: middle; }
.table-responsive tbody > tr { -webkit-transition: .2s cubic-bezier(.175,.885,.32,1); -o-transition: .2s cubic-bezier(.175,.885,.32,1); transition: .2s cubic-bezier(.175,.885,.32,1); -webkit-transition-property: background-color,-webkit-box-shadow; -o-transition-property: box-shadow,background-color; transition-property: background-color,-webkit-box-shadow; transition-property: box-shadow,background-color; transition-property: box-shadow,background-color,-webkit-box-shadow; }
.table-responsive tbody > tr:hover { background: #fafafa; -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15); box-shadow: 0 0 4px rgba(0,0,0,.15); }
.table-responsive .ico { color: #6ab8ff; font-size: 16px; cursor: pointer }
.table-responsive .ico:hover { color: #9acbf9 }
.flow-list-tab { padding: 12px 0; font-size: 13px }
.flow-list-tab li { float: left; margin-right: 18px; }
.flow-list-tab li.select a { font-weight: 700; color: #6ab8ff; border-bottom: 1px solid #6ab8ff }
.flow-list-tab li a { display: inline-block; color: #333 }
.flow-list-tab li:hover a { color: #6ab8ff }
.search-hide { background: #fff; margin-bottom: 8px; }
.flow-list-tab li > label { margin: 0; font-weight: normal; cursor: pointer }
.flow-list-tab li > label input[type=checkbox] { display: none }
.flow-list-tab li > label.open, .flow-list-tab li > label:hover { color: #3798e9 }
.flow-list-tab li.oper { float: right }
.flow-list-tab li.oper > span { display: inline-block; margin-left: 18px; cursor: pointer }
.flow-list-tab li.oper > span:hover { color: #6ab8ff }
.flow-list-tab li.oper > span i { margin-right:4px}
.statistic { color: #d6d8dc; margin-left: 15px }
.pagination { float: right; }
.pagination a { color: #999; }
.pagination li { margin-right: 10px; color: #999 }
.pagination li i {  }
.pagination li i:hover { color: #3798e9 }
.pagination li select { margin-left: 10px; color: #838a9d; border: 1px solid #ddd }
a:link { text-decoration: none }
/*协同办公*/
.synergism-body { background: #edf1f5 }
.synergism-head { background: #002f6c;padding:3px 0;color:#fff }
.synergism-body .workbench-in { font-size: 16px; margin-top: 6px; }
.synergism-body .workbench-in .s { background: #fff; width: 32px; line-height: 32px; border-radius: 16px; margin-right: 8px; }
.synergism-body .workbench-in .s i { color: #4169bc; font-size: 20px; }
.task-manage { padding-top:15px}
.task-manage .task-menu { float: left; width: 260px; background: #fff; border: 1px solid #dbdfe3 }
.task-manage .task-list { float: right; width: 930px; background: #fff; border: 1px solid #dbdfe3 }
.task-manage .task-menu h2 { font-size: 15px; font-weight: bold; padding-left: 15px; border-bottom: 1px solid #dedede ;line-height:30px;margin:0;padding-top:12px;color:#555}
.task-manage .task-list h2 { font-size:18px;padding:0 20px;border-bottom:1px solid #ddd;line-height:52px;margin:0;padding-top:8px}
.task-manage .task-list h2 .add { float: right; color: #fda32b ;font-size:15px}
.task-manage .task-list h2 .add i { margin-right:4px;font-size:16px}
.task-list-bd { padding:20px}
.task-list-ico { display: inline-block; background: #3cbaff;color:#fff;width:32px;height:32px;border-radius:16px;vertical-align:middle;text-align:center;margin-top:-4px;line-height:28px }
.task-list-ico i { font-size:18px;vertical-align:middle}
.task-list-bd { font-size:13px}
.task-list-bd th { font-weight: normal; background: #3cbaff; color: #fff; text-align: center;line-height:20px;padding:4px 6px }
.task-list-bd td { line-height: 20px; padding: 4px 6px}

.task-list-bd tbody tr:nth-child(2n) { background: #f2f3f8 }
.task-menu ul{font-size:14px;padding:15px }
.task-menu ul li {color:#555}
.task-menu ul .select { color: #3cbaff }
.line-y { display: inline-block; height: 30px; width: 1px; background: #ddd; vertical-align: middle; margin: 0 6px; }
.line-x { display: inline-block; height: 1px; width: 10px; background: #ddd; vertical-align: middle; margin-right: 6px;margin-top:-2px }
.task-menu ul li .icon-cubes {margin-right:6px;color:#999 }

.table-footer .mapager {width:auto }
.table-footer .pull-right { margin-top:3px}
.table-footer-pager { float:right}

.float-layout { column-count: inherit }
.float-layout .raise-dl { float: left; width:  calc(25% - 11px) }

/*流程可折叠*/
.dl-slide .fm-group-head { cursor: pointer }
.dl-slide .ico-open { border-bottom: 5px solid #888; border-left: 5px solid transparent; border-right: 5px solid transparent; display: inline-block; cursor: pointer }
.dl-slide.slide-up .ico-open { border-top: 5px solid #888; border-bottom: 0 }
.dl-slide dt { font-weight: normal }

.modal-backdrop.am-fade { background: rgba(0,0,0,.3); }
.modal-content { box-shadow: 1px 1px 50px rgba(0,0,0,.3); }
.page-main.fold-up { left: 58px }

.mainer-right { background: #fff; height: calc(100vh - 85px); overflow: auto; margin: 0 15px; margin-top: 70px; }
@media screen and (min-width:1800px) { 
    body { font-size: 14px }
    .left-menu .main-menu { width: 70px }
    .left-menu .main-menu .menu-item dd { left: 70px; }
    .left-menu .main-menu .menu-item.select dd { width: 210px }
    .dl-menu li h3, .dl-menu li h4 { font-size: 14px }
    .dl-menu li h4 i { font-size: 15px }
    .left-menu { width: 280px }
    .page-main { left: 280px }
    .user-down { width: 209px; left: 70px }
    .left-menu .main-menu .menu-item dt i { font-size: 20px }
    .left-menu .main-menu .menu-item dt { padding: 21px 0; padding-top: 22px; }
    .menu-fold > label { left: 279px }
    .menu-fold .mf-hide { left: 69px; }
    .no-submenu .left-menu { width: 70px; }
    .no-submenu .page-main { left: 70px; }
    .left-menu .user-face img { width: 36px; height: 36px; border-radius: 18px; }
    .calendar-left { left: 70px }
    .left-menu .main-menu .menu-item.select dt:after { top:24px}
    .page-main.fold-up { left: 70px }
    .w-top-img img { height:130px}
    .w-top-img .user-info > span img { width: 100px; height: 100px; border-radius: 50px; }
    .w-top-img .user-info {  bottom: 30px; padding-top: 15px; padding-left: 15px; }
    .w-top-img .user-info dl dt { font-size: 16px;  line-height: 28px; padding-top: 6px; }
    .console-50vh { height: calc(50vh - 81px); }
    .vh1 { height: calc(50vh - 140px); }
    .main-head .logo img { height:40px}
    .main-head .logo { top:13px}
    .personal-main { padding-top:85px}
    .mainer-right { height: calc(100vh - 100px); margin-top: 85px; }
}
@media screen and (min-width:1600px) {
    .jq-grid-bd {font-size:14px }
}
.contenter-box {padding:15px }
.contenter-box-x { padding:0 15px }
.grid-btn { margin-right: 5px; color: #555; cursor: pointer }
.grid-btn:hover { color: #3798e9; }
body .layui-layer { border-radius: 4px }
body .layui-layer-title { border-top-left-radius: 4px;border-top-right-radius:4px }
/*外链*/
.mainer { width: 1200px; margin: 0 auto; position: relative }
.main-left { width: 200px; background: #fff; position: fixed; padding-bottom: 20px; top: 85px }
.main-right { margin-left: 215px; background: #fff; border-top: 1px solid #fff; margin-top: 85px; }
.input-sm { padding: 0 }
.f-title { font-size: 16px; padding-left: 12px; border-bottom: 1px solid #ddd; padding-bottom: 8px; color: #666; }
.textarea-long.fm-text.input-sm > .fm-text-input { height: 280px }
.t-title { padding-top: 5px; padding-bottom: 5px; border-bottom: 1px dashed #ddd; margin-bottom: 5px; font-size: 14px; font-weight: bold; }
.ot-head { position: fixed; z-index: 2; box-shadow: 0 3px 3px #eceaea }
.ot-head-con { margin: 0 auto; width: 1200px }
.ot-head.main-head .logo, .ot-head.main-head h2 { position: initial }
.ot-head.main-head h2 { float: left; }
.ot-head.main-head .logo { float: right; padding-top: 10px }
.dl-menu li h3 .icon-circle-blank { margin-left: -17px; margin-right: 5px; }

.data-tree-page { position:relative}
.data-tree-page .role_tree { background: #fff; height: calc(100vh - 28px); left: 0; top: 15px; padding-top: 8px; padding-left: 5px; }
.data-tree-page .flow-table {margin-left:265px;padding:0 }
.table-info {position:relative;padding-right:355px }
.table-info .ti-right {position:absolute;width:340px;right:0;top:0;padding-left:15px;border-left:1px solid #ddd ;padding-right:8px}
.ti-detail { padding-top:20px}
.ti-detail li { border-bottom: 1px dashed #cacaca; padding: 8px 0; padding-left: 20px; position: relative }
.ti-detail li b { color: #555; font-size: 16px }
.ti-detail li .icon-angle-right{ font-size: 22px; position: absolute; left: 3px }
.ti-detail li .ico-fj { position: absolute;background: #ecedf0; border-radius: 3px; width: 16px; height: 16px; text-align: center; left: -3px; top: 12px; }
.ti-detail li .ico-fj i { display: inline-block; border-left: 6px solid #3c9bea; border-top: 5px solid transparent; border-bottom: 5px solid transparent }
.ti-detail li p { padding-top: 4px }
.ti-detail li .p1 { padding-top:8px}
.ti-detail li .fj { border: 1px dashed #cacaca;margin-top:14px;padding-bottom:12px }
.ti-detail li .fj .ico { display: block; border: 1px solid #ddd; border-radius: 5px; width: 160px; margin: 0 auto; text-align: center; height: 130px; padding-top: 30px;margin-bottom:5px }
.ti-detail li .fj .ico i { font-size: 60px; color: #e9e9e9 }
.ti-detail li .fj h3 { font-size:14px;text-align:center;line-height:50px}
.ti-detail li .fj h3 i { font-size: 18px; color: #707070 }
.ti-detail li .fj h3 .ll { color: #3798e9 }
.ti-detail li .f-name { width: 160px; margin: 0 auto; }
.ti-detail li .f-name .name { font-size: 16px; color: #3798e9; }
.f-mess { color: #888 }
.f-mess .size { float: right }
@media screen and (min-width:1800px) {
    .table-info { padding-right: 435px }
    .table-info .ti-right {  width: 420px;}
}
.taskadd-bt { float:right;font-size:16px;font-weight:bold;cursor:pointer;margin-top:7px}
.taskadd-bt i { color: #409cea; font-size: 20px; margin-right: 6px; vertical-align: middle; margin-top: -4px; display: inline-block; }
.modal-new .cover { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; opacity: .4 }
.modal-new .modal-dialog { background: transparent }
.modal-new .modal-title { font-size:16px}
.modal-new .modal-header { padding:10px 15px}
/*ma-tabs新样式*/
.main100 { height: calc(100vh - 30px); background: #fff; border: 1px solid #e0e0e0; border-radius: 4px; }
.tabs1 .nav-tabs > li { border: 1px solid #ddd; margin-left: -1px; background: #f6f6f6; }
.tabs1 .nav-tabs > li > a { border: 0; margin-right: 0; font-size: 15px; padding: 0; line-height: 38px; width: 120px; text-align: center; transition:none}
.tabs1 .nav-tabs > li.active > a, .tabs1 .nav-tabs > li.active > a:hover { border: 0; background: #f6f6f6; color: #3798e9; }
.tabs1 .nav-tabs > li > a:hover { border: 0 }
.tabs1 .nav-tabs > li.active { border-top: 3px solid #3798e9; }
.tabs1 .nav-tabs > li.active > a { line-height: 36px }
.tabs1 .nav-tabs { padding-left: 15px }
/*ma-tabs新样式2*/
.tabs2 .nav-tabs > li { border-left: 1px solid #ddd;padding:0 10px;height:20px }
.tabs2 .nav-tabs > li > a { font-size: 16px; font-weight: bold; line-height: 20px; padding: 0 7px; height: 30px;border:0 }
.tabs2 .nav-tabs > li:first-child { border: 0 }
.tabs2 .nav-tabs > li.active > a, .tabs2 .nav-tabs > li.active > a:hover { border: 0; background: #fff; border-bottom: 3px solid #3798e9; color: #3798e9 }
.tabs2 .nav-tabs { height:30px}
.tabs2 .nav > li > a:hover, .tabs2 .nav > li > a:focus { background: transparent; border: 0; color: #3798e9 }
.badge { display: inline-block; min-width: 10px; padding: 3px 7px; font-size: 12px; font-weight: 700; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; background-color: #777; border-radius: 10px; }
.dropdown-menu-right { right:0;left:auto;text-align:left}
.dropdown-menu { text-align:left}