@font-face {
  font-family: 'ZenIcon';
  src:  url('customcustomfonts/ZenIcon.eot?ju4p7g');
  src:  url('customfonts/ZenIcon.eot?ju4p7g#iefix') format('embedded-opentype'),
    url('customfonts/ZenIcon.ttf?ju4p7g') format('truetype'),
    url('customfonts/ZenIcon.woff?ju4p7g') format('woff'),
    url('customfonts/ZenIcon.svg?ju4p7g#ZenIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZenIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yidong:before { content: "\ea57"; }
.icon-anquanjinggao:before { content: "\ea58"; }
.icon-anshiwancheng:before { content: "\ea59"; }
.icon-baoxianyixiang:before { content: "\ea5a"; }
.icon-ceshishili:before { content: "\ea5b"; }
.icon-dengdai:before { content: "\ea5c"; }
.icon-gongsiguanli:before { content: "\ea5d"; }
.icon-lichengbei:before { content: "\ea5e"; }
.icon-xiangmukongjian:before { content: "\ea5f"; }
.icon-yanqiweiwancheng:before { content: "\ea60"; }
.icon-yanqizengjia:before { content: "\ea61"; }
.icon-zhongyingwen:before { content: "\ea62"; }
.icon-daifukuan:before { content: "\ea63"; }
.icon-dingdanchenggong:before { content: "\ea64"; }
.icon-dingdanjianshao:before { content: "\ea65"; }
.icon-dingdanquxiao:before { content: "\ea66"; }
.icon-dingdanshanchu:before { content: "\ea67"; }
.icon-dingdanshoucang:before { content: "\ea68"; }
.icon-dingdanwancheng:before { content: "\ea69"; }
.icon-dingdanwenti:before { content: "\ea6a"; }
.icon-fukuanchenggong:before { content: "\ea6b"; }
.icon-fukuancuowu:before { content: "\ea6c"; }
.icon-fukuanjianshao:before { content: "\ea6d"; }
.icon-fukuanshibai:before { content: "\ea6e"; }
.icon-fukuansuoding:before { content: "\ea6f"; }
.icon-fukuansuodingjiechu:before { content: "\ea70"; }
.icon-fukuantongzhi:before { content: "\ea71"; }
.icon-fukuanzengjia:before { content: "\ea72"; }
.icon-huikuantixing:before { content: "\ea73"; }
.icon-jingdantianjia:before { content: "\ea74"; }
.icon-jingdanzengjia:before { content: "\ea75"; }
.icon-shoufukuan:before { content: "\ea76"; }
.icon-tuikuanguanhuai:before { content: "\ea77"; }
.icon-anjianguanli:before { content: "\e900"; }
.icon-anquan:before { content: "\e901"; }
.icon-bangong:before { content: "\e902"; }
.icon-bangongyongpin:before { content: "\e903"; }
.icon-bangzhu:before { content: "\e904"; }
.icon-baobiao:before { content: "\e905"; }
.icon-baobiaotongji:before { content: "\e906"; }
.icon-baoxiao:before { content: "\e907"; }
.icon-bianji:before { content: "\e908"; }
.icon-bizhonghuishuai:before { content: "\e909"; }
.icon-bumenguanli:before { content: "\e90a"; }
.icon-caigoudan:before { content: "\e90b"; }
.icon-caigoujihua:before { content: "\e90c"; }
.icon-caigoushenqingdan:before { content: "\e90d"; }
.icon-caiwu:before { content: "\e90e"; }
.icon-caiwuchazhang:before { content: "\e90f"; }
.icon-caiwudaodan:before { content: "\e910"; }
.icon-caiwufenxi:before { content: "\e911"; }
.icon-caiwutuifei:before { content: "\e912"; }
.icon-caiwuzhutifenxi:before { content: "\e913"; }
.icon-cangku:before { content: "\e914"; }
.icon-caogaoxiang:before { content: "\e915"; }
.icon-celiang:before { content: "\e916"; }
.icon-chalvfeibaoxiao:before { content: "\e917"; }
.icon-chalvfeiyongbaoxiao:before { content: "\e918"; }
.icon-changyongziliao:before { content: "\e919"; }
.icon-channeng:before { content: "\e91a"; }
.icon-chanzhifenxi:before { content: "\e91b"; }
.icon-chanzhiluru:before { content: "\e91c"; }
.icon-cheliang:before { content: "\e91d"; }
.icon-cheliangcangbao:before { content: "\e91e"; }
.icon-cheliangliebiao:before { content: "\e91f"; }
.icon-chepai:before { content: "\e920"; }
.icon-chongzhijilu:before { content: "\e921"; }
.icon-chuchadidian:before { content: "\e922"; }
.icon-chuchashenqing:before { content: "\e923"; }
.icon-chuchawaichushenqingdan:before { content: "\e924"; }
.icon-chukudengji:before { content: "\e925"; }
.icon-chukuliucheng:before { content: "\e926"; }
.icon-churuku:before { content: "\e927"; }
.icon-churukujilu:before { content: "\e928"; }
.icon-CRM:before { content: "\e929"; }
.icon-cuowu:before { content: "\e92a"; }
.icon-cuowu_1:before { content: "\e92b"; }
.icon-daiban:before { content: "\e92c"; }
.icon-danjuchaxun:before { content: "\e92d"; }
.icon-danjuchuli:before { content: "\e92e"; }
.icon-danjuqianshou:before { content: "\e92f"; }
.icon-danjushenqing:before { content: "\e930"; }
.icon-danjutongji:before { content: "\e931"; }
.icon-danjuweihu:before { content: "\e932"; }
.icon-danjuzhifu:before { content: "\e933"; }
.icon-daqiabuqiandan:before { content: "\e934"; }
.icon-dengchu:before { content: "\e935"; }
.icon-dengjizongshu:before { content: "\e936"; }
.icon-dianhua:before { content: "\e937"; }
.icon-dianzan:before { content: "\e938"; }
.icon-diaobo:before { content: "\e939"; }
.icon-dingdan:before { content: "\e93a"; }
.icon-dingdanshijian:before { content: "\e93b"; }
.icon-dingyue:before { content: "\e93c"; }
.icon-diqiu:before { content: "\e93d"; }
.icon-dongtaifenxiang:before { content: "\e93e"; }
.icon-duomeiti:before { content: "\e93f"; }
.icon-duoweiduyingshoufenxi:before { content: "\e940"; }
.icon-echart:before { content: "\e941"; }
.icon-erweima:before { content: "\e942"; }
.icon-exchange:before { content: "\e943"; }
.icon-fangda:before { content: "\e944"; }
.icon-feiyongbaoxiao:before { content: "\e945"; }
.icon-feiyongjiesuan:before { content: "\e946"; }
.icon-feiyongkemu:before { content: "\e947"; }
.icon-feiyongshenqing:before { content: "\e948"; }
.icon-fenxi:before { content: "\e949"; }
.icon-fenxiang:before { content: "\e94a"; }
.icon-fujian:before { content: "\e94b"; }
.icon-fukuanshenqing:before { content: "\e94c"; }
.icon-fukuanzhanghao:before { content: "\e94d"; }
.icon-fuwushangxinxi:before { content: "\e94e"; }
.icon-gaikuang:before { content: "\e94f"; }
.icon-gaizhangshenqing:before { content: "\e950"; }
.icon-gangjigongzi:before { content: "\e951"; }
.icon-gangweiquanxian:before { content: "\e952"; }
.icon-gengduocaidan:before { content: "\e953"; }
.icon-gongcheng:before { content: "\e954"; }
.icon-gonggao:before { content: "\e955"; }
.icon-gonggaopai:before { content: "\e956"; }
.icon-gongju:before { content: "\e957"; }
.icon-gongjuxiang:before { content: "\e958"; }
.icon-gongrenfenxi:before { content: "\e959"; }
.icon-gongrenshuxing:before { content: "\e95a"; }
.icon-gongwen:before { content: "\e95b"; }
.icon-gongwujiedai:before { content: "\e95c"; }
.icon-gongyingshang:before { content: "\e95d"; }
.icon-gongyingshangguanli:before { content: "\e95e"; }
.icon-gongyingshangyufukuan:before { content: "\e95f"; }
.icon-gongyingshangzhifu:before { content: "\e960"; }
.icon-gongzhong:before { content: "\e961"; }
.icon-gongzibiaoshenhe:before { content: "\e962"; }
.icon-gongzidan:before { content: "\e963"; }
.icon-gongzifafang:before { content: "\e964"; }
.icon-gongzijianyi:before { content: "\e965"; }
.icon-gongzuolianxidan:before { content: "\e966"; }
.icon-gongzuozongjie:before { content: "\e967"; }
.icon-goujianshu:before { content: "\e968"; }
.icon-goutong:before { content: "\e969"; }
.icon-guanyu:before { content: "\e96a"; }
.icon-guazhangkehuliebiao:before { content: "\e96b"; }
.icon-gudingzichanshebeigouzhishenqingbiao:before { content: "\e96c"; }
.icon-guifan:before { content: "\e96d"; }
.icon-hangzhengguanli:before { content: "\e96e"; }
.icon-hedui:before { content: "\e96f"; }
.icon-heimingdan:before { content: "\e970"; }
.icon-hesuankemuleixing:before { content: "\e971"; }
.icon-hetong:before { content: "\e972"; }
.icon-hetongdingdan:before { content: "\e973"; }
.icon-hetongjine:before { content: "\e974"; }
.icon-hetongshenpi:before { content: "\e975"; }
.icon-hetongxinxi:before { content: "\e976"; }
.icon-huankuandan:before { content: "\e977"; }
.icon-huiyi:before { content: "\e978"; }
.icon-huiyuanchongzhi:before { content: "\e979"; }
.icon-huodong:before { content: "\e97a"; }
.icon-jiaban:before { content: "\e97b"; }
.icon-jiabanshenqingbiao:before { content: "\e97c"; }
.icon-jianbao:before { content: "\e97d"; }
.icon-jianglijilu:before { content: "\e97e"; }
.icon-jiaosequanxian:before { content: "\e97f"; }
.icon-jiaoxuejiaoyu:before { content: "\e980"; }
.icon-jiaoyiguanli:before { content: "\e981"; }
.icon-jiaqileixing:before { content: "\e982"; }
.icon-jiedaishenqing:before { content: "\e983"; }
.icon-jiekuan:before { content: "\e984"; }
.icon-jiekuandan:before { content: "\e985"; }
.icon-jiekuanhuankuan:before { content: "\e986"; }
.icon-jiekuanzhuangtai:before { content: "\e987"; }
.icon-jiesuo:before { content: "\e988"; }
.icon-jiezhengshenqing:before { content: "\e989"; }
.icon-jiezhiguihuan:before { content: "\e98a"; }
.icon-jiezhishenqing:before { content: "\e98b"; }
.icon-jifen:before { content: "\e98c"; }
.icon-jinchu:before { content: "\e98d"; }
.icon-jindu:before { content: "\e98e"; }
.icon-jingzhengfenxi:before { content: "\e98f"; }
.icon-jipiao:before { content: "\e990"; }
.icon-jipiaoyudingcheliangyuyueshenqingbiao:before { content: "\e991"; }
.icon-jixiaoguanli:before { content: "\e992"; }
.icon-jiyao:before { content: "\e993"; }
.icon-jizhi:before { content: "\e994"; }
.icon-kaoqin:before { content: "\e995"; }
.icon-kaoqinbiao:before { content: "\e996"; }
.icon-kaoqinguanli:before { content: "\e997"; }
.icon-kehu:before { content: "\e998"; }
.icon-kehufuwu:before { content: "\e999"; }
.icon-kehuguanli:before { content: "\e99a"; }
.icon-lianjie:before { content: "\e99b"; }
.icon-lianxijilu:before { content: "\e99c"; }
.icon-lianxiren:before { content: "\e99d"; }
.icon-liucheng:before { content: "\e99e"; }
.icon-liuchengshuoming:before { content: "\e99f"; }
.icon-lixiang:before { content: "\e9a0"; }
.icon-lizhijiaojie:before { content: "\e9a1"; }
.icon-luntan:before { content: "\e9a2"; }
.icon-mima:before { content: "\e9a3"; }
.icon-mingpian:before { content: "\e9a4"; }
.icon-paixu:before { content: "\e9a5"; }
.icon-peizhi:before { content: "\e9a6"; }
.icon-piaowu:before { content: "\e9a7"; }
.icon-pindao:before { content: "\e9a8"; }
.icon-pingzhengdaochu:before { content: "\e9a9"; }
.icon-pingzhengzhongxin:before { content: "\e9aa"; }
.icon-qianbao:before { content: "\e9ab"; }
.icon-qichebaoyangweixiushenqing:before { content: "\e9ac"; }
.icon-qiehuan:before { content: "\e9ad"; }
.icon-qingjia:before { content: "\e9ae"; }
.icon-qingjiadanqueren:before { content: "\e9af"; }
.icon-qingjiashenqingdan:before { content: "\e9b0"; }
.icon-qingjiashezhi:before { content: "\e9b1"; }
.icon-qiyexinxi:before { content: "\e9b2"; }
.icon-quanpingmu:before { content: "\e9b3"; }
.icon-quanxian:before { content: "\e9b4"; }
.icon-rencaizhongxin:before { content: "\e9b5"; }
.icon-renliziyuanzhutifenxi:before { content: "\e9b6"; }
.icon-renwu:before { content: "\e9b7"; }
.icon-renwufenpei:before { content: "\e9b8"; }
.icon-renwujihua:before { content: "\e9b9"; }
.icon-renwuzhongxin:before { content: "\e9ba"; }
.icon-renyuanbiandongfenxi:before { content: "\e9bb"; }
.icon-renyuanliyongshuai:before { content: "\e9bc"; }
.icon-ribao:before { content: "\e9bd"; }
.icon-ribaogongshi:before { content: "\e9be"; }
.icon-ribaoqueren:before { content: "\e9bf"; }
.icon-ribaotongji:before { content: "\e9c0"; }
.icon-richangfeiyongbaoxiao:before { content: "\e9c1"; }
.icon-richeng:before { content: "\e9c2"; }
.icon-rili:before { content: "\e9c3"; }
.icon-rilishijian:before { content: "\e9c4"; }
.icon-rukudengji:before { content: "\e9c5"; }
.icon-rukuliucheng:before { content: "\e9c6"; }
.icon-SCMliucheng:before { content: "\e9c7"; }
.icon-shanchu:before { content: "\e9c8"; }
.icon-shangchuanwenjian:before { content: "\e9c9"; }
.icon-shanghuguanli:before { content: "\e9ca"; }
.icon-shanghujiesuanchaxun:before { content: "\e9cb"; }
.icon-shebaojiaojiaoshenpibiao:before { content: "\e9cc"; }
.icon-shenfenzheng:before { content: "\e9cd"; }
.icon-shenpiliucheng:before { content: "\e9ce"; }
.icon-shenpiweituo:before { content: "\e9cf"; }
.icon-shenqing:before { content: "\e9d0"; }
.icon-shenqingdan:before { content: "\e9d1"; }
.icon-shezhi:before { content: "\e9d2"; }
.icon-shijian:before { content: "\e9d3"; }
.icon-shimingrenzheng:before { content: "\e9d4"; }
.icon-shiyongbangzhu:before { content: "\e9d5"; }
.icon-shoucang:before { content: "\e9d6"; }
.icon-shouhuo:before { content: "\e9d7"; }
.icon-shoukuanrenguanli:before { content: "\e9d8"; }
.icon-shousuo:before { content: "\e9d9"; }
.icon-shouye:before { content: "\e9da"; }
.icon-shuji:before { content: "\e9db"; }
.icon-shuju:before { content: "\e9dc"; }
.icon-shujubianji:before { content: "\e9dd"; }
.icon-shujugailan:before { content: "\e9de"; }
.icon-shujutongji:before { content: "\e9df"; }
.icon-shuliebiao:before { content: "\e9e0"; }
.icon-taizhang:before { content: "\e9e1"; }
.icon-tianjiahuiyuan:before { content: "\e9e2"; }
.icon-tianxieribao:before { content: "\e9e3"; }
.icon-tiaocha:before { content: "\e9e4"; }
.icon-tichengguize:before { content: "\e9e5"; }
.icon-tongxunlu:before { content: "\e9e6"; }
.icon-TOPyuangongfenxi:before { content: "\e9e7"; }
.icon-toupiao:before { content: "\e9e8"; }
.icon-tuandui:before { content: "\e9e9"; }
.icon-tuijian:before { content: "\e9ea"; }
.icon-wangluotiaocha:before { content: "\e9eb"; }
.icon-wangzhan:before { content: "\e9ec"; }
.icon-webmail:before { content: "\e9ed"; }
.icon-weihu:before { content: "\e9ee"; }
.icon-wendangzhongxin:before { content: "\e9ef"; }
.icon-wendu:before { content: "\e9f0"; }
.icon-wenjian:before { content: "\e9f1"; }
.icon-wenjianjia:before { content: "\e9f2"; }
.icon-winmail:before { content: "\e9f3"; }
.icon-wodebaoxiaodan:before { content: "\e9f4"; }
.icon-wodecaifu:before { content: "\e9f5"; }
.icon-wodeqingjiadan:before { content: "\e9f6"; }
.icon-woderenwu:before { content: "\e9f7"; }
.icon-woderibao:before { content: "\e9f8"; }
.icon-wodexiangmu:before { content: "\e9f9"; }
.icon-wodeyizhou:before { content: "\e9fa"; }
.icon-wupin:before { content: "\e9fb"; }
.icon-xiangmu:before { content: "\e9fc"; }
.icon-xiangmubaohanshenqing:before { content: "\e9fd"; }
.icon-xiangmuduizhangdan:before { content: "\e9fe"; }
.icon-xiangmuguanli:before { content: "\e9ff"; }
.icon-xiangmujiesuanbaobiao:before { content: "\ea00"; }
.icon-xiangmuleixing:before { content: "\ea01"; }
.icon-xiaoshoubaobiao:before { content: "\ea02"; }
.icon-xiaoshoudongtai:before { content: "\ea03"; }
.icon-xiaoshouloudou:before { content: "\ea04"; }
.icon-xiaoshoumaoli:before { content: "\ea05"; }
.icon-xiaoshouqingkuangzonghefenxi:before { content: "\ea06"; }
.icon-xiaoshouyibiaopan:before { content: "\ea07"; }
.icon-xiaoshouzhibiaoshezhi:before { content: "\ea08"; }
.icon-xiaoshouzhutifenxi:before { content: "\ea09"; }
.icon-xiaoshouzu:before { content: "\ea0a"; }
.icon-xiaoshouzujian:before { content: "\ea0b"; }
.icon-xiaoxi:before { content: "\ea0c"; }
.icon-xiazai:before { content: "\ea0d"; }
.icon-xieyimoban:before { content: "\ea0e"; }
.icon-xinjian:before { content: "\ea0f"; }
.icon-xinjianhuiyi:before { content: "\ea10"; }
.icon-xinjiantiezi:before { content: "\ea11"; }
.icon-xinwenzixun:before { content: "\ea12"; }
.icon-xinxicaiji:before { content: "\ea13"; }
.icon-xinziguanli:before { content: "\ea14"; }
.icon-xitongrizhi:before { content: "\ea15"; }
.icon-xunzhang:before { content: "\ea16"; }
.icon-xuqiu:before { content: "\ea17"; }
.icon-yanzheng:before { content: "\ea18"; }
.icon-yaoqingtongshi:before { content: "\ea19"; }
.icon-yejiguanli:before { content: "\ea1a"; }
.icon-yewubanli:before { content: "\ea1b"; }
.icon-yewujihui:before { content: "\ea1c"; }
.icon-yewuzhaodai:before { content: "\ea1d"; }
.icon-yingshoukuan:before { content: "\ea1e"; }
.icon-yingshoukuanfenxi:before { content: "\ea1f"; }
.icon-yingyongfenxi:before { content: "\ea20"; }
.icon-yinzhang:before { content: "\ea21"; }
.icon-yishoukuan:before { content: "\ea22"; }
.icon-yixuanze:before { content: "\ea23"; }
.icon-yongcheshenqing:before { content: "\ea24"; }
.icon-yonggongzongliang:before { content: "\ea25"; }
.icon-yonghu:before { content: "\ea26"; }
.icon-youhuiquan:before { content: "\ea27"; }
.icon-youxiang:before { content: "\ea28"; }
.icon-yuangongcaiwubaobiao:before { content: "\ea29"; }
.icon-yuangonggoumaishebaoshenqingbiao:before { content: "\ea2a"; }
.icon-yuangongguanli:before { content: "\ea2b"; }
.icon-yuangonghuangye:before { content: "\ea2c"; }
.icon-yuangongkaopingjiandingbiao:before { content: "\ea2d"; }
.icon-yuangonglizhi:before { content: "\ea2e"; }
.icon-yuangonglizhishenqingbiao:before { content: "\ea2f"; }
.icon-yuangongruzhi:before { content: "\ea30"; }
.icon-yuangongtiaodongshenqingbiao:before { content: "\ea31"; }
.icon-yuangongzhuanzhengkaohebiao:before { content: "\ea32"; }
.icon-yuangongzhuanzhengshenqingbiao:before { content: "\ea33"; }
.icon-yuansu:before { content: "\ea34"; }
.icon-yun-shangchuan:before { content: "\ea35"; }
.icon-yun-xiazai:before { content: "\ea36"; }
.icon-yusuanfangan:before { content: "\ea37"; }
.icon-yusuankongzhi:before { content: "\ea38"; }
.icon-yusuanqijian:before { content: "\ea39"; }
.icon-yusuanzuheleixing:before { content: "\ea3a"; }
.icon-yuyue:before { content: "\ea3b"; }
.icon-zaixianbangzhu:before { content: "\ea3c"; }
.icon-zhanghu:before { content: "\ea3d"; }
.icon-zhaopinyuangongshenpibiao:before { content: "\ea3e"; }
.icon-zhibiao:before { content: "\ea3f"; }
.icon-zhifufangshi:before { content: "\ea40"; }
.icon-zhihangshenqing:before { content: "\ea41"; }
.icon-zhiliang:before { content: "\ea42"; }
.icon-zhineng:before { content: "\ea43"; }
.icon-zhishicangku:before { content: "\ea44"; }
.icon-zhishiditu:before { content: "\ea45"; }
.icon-zhishihudong:before { content: "\ea46"; }
.icon-zhishishequ:before { content: "\ea47"; }
.icon-zhishiwenda:before { content: "\ea48"; }
.icon-zhishizhongxin:before { content: "\ea49"; }
.icon-zhiwuguanli:before { content: "\ea4a"; }
.icon-zhuanjiawangluo:before { content: "\ea4b"; }
.icon-zhuceshenpi:before { content: "\ea4c"; }
.icon-zhusuxinxi:before { content: "\ea4d"; }
.icon-zhuti:before { content: "\ea4e"; }
.icon-zhuxiangmu:before { content: "\ea4f"; }
.icon-zhuye:before { content: "\ea50"; }
.icon-ziliaodanganwupinxiaohuishenpibiao:before { content: "\ea51"; }
.icon-zixiangmukanban:before { content: "\ea52"; }
.icon-ziyuanjieyong:before { content: "\ea53"; }
.icon-zongchanzhi:before { content: "\ea54"; }
.icon-zonggongshi:before { content: "\ea55"; }
.icon-zuzhijiagou:before { content: "\ea56"; }
