@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <title>错误信息</title>
    @Styles.Render("~/SysPages/Css")
}
<body class="" ng-controller="ErrorMessageCtrl as vm">
    <style>
        .err-bg { width: 870px; margin: 0 auto; padding-top: 40px }
        .err-bg > span { float: left }
        .err-bg > span img { height: 450px }
        .err-bg dl { float: right; width: 350px; padding-top: 50px }
        .err-bg dl dt { font-size: 18px; padding-bottom: 24px; }
        .err-bg dl dd { }
    </style>
    <div class="contenter-box">
        <div class="main100">
            <div class="err-bg">
                <span>
                    <img src="/Content/Images/Ico/err_bg.png" />
                </span>
                <dl>
                    <dt>页面出错</dt>
                    <dd>@ViewBag.Title</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="user-login-5 bodyheight" style="display:none">
        <div class="row bs-reset bodyheight">
            <div class="col-md-6 bs-reset">
                <div class="login-bg" style="cursor: pointer;" onclick="javascript: location.href = 'https://shalu.com';">
                    <span class="logo-default" style="display: inline-block; color: #5B9BD1; font-size: 23px; font-family: 'Courier New'; margin-top: 22px; margin-left: 22px;"><img style="height: 35px;" src="~/Content/Images/shalu_logo.png" /></span>
                </div>
            </div>
            <div class="col-md-6 bs-reset bodyheight">
                <div class="login-content">
                    <div style="height: auto;margin-top: 30vh;">
                        <div style="text-align: center;">
                            <h1>错误信息</h1>
                        </div>
                        <br />
                        <p>
                            @ViewBag.Title
                        </p>
                        <div style="text-align: center;">
                            <a href="../Account/Index?ReturnUrl=%2F" class="btn blue btn-default btn-back"><i class="m-icon-swapleft m-icon-white"></i>退回登录页</a>
                        </div><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/SysPages/Js")
    <script type="text/javascript">
        angular.module('app', ['mabp']).controller('ErrorMessageCtrl', [
            function () {
                var vm = this;

                $(function () {
                    $(".login-bg").backstretch(["../../Content/Images/bg3.jpg", "../../Content/Images/bg3.jpg"], {
                        fade: 1e3,
                        duration: 8e3
                    });
                });

            }
        ]);
    </script>

</body>
