<div ng-controller="syspages.views.my.workflowcenter.pendingread as vm">
    <div class="row">
        <div class="modal-user" style="position:relative;">
            <div class="role_tree">
                <div id="phMenu"><div class="page-menu"></div></div>
            </div>
            <div class="flow-table">
                <div>
                    <ul class="flow-list-tab clear">
                        <li><label ng-click="vm.show()" class="{{vm.showSearch==true?'open':''}}"><i class="icon-search"></i> {{ 'FilterCondition' | translate}}</label></li>
                        <li><label ng-click="vm.readAll()"><i class="icon-newspaper-o"></i> 一键已阅</label></li>
                        <li class="oper" style="display:none">
                            <span><i class="icon-upload-alt"></i>导出</span>
                            <span><i class="icon-plus"></i>新建</span>
                        </li>
                    </ul>
                </div>
                <div class="search-hide" ng-if="!!vm.showSearch">
                    <div class="form-search-group clear">
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'Sn' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.sn" i-clear fm-placeholder="{{ 'Sn' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'Creator' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.creator" i-clear fm-placeholder="{{ 'Creator' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>

                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'CC' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.cc" i-clear fm-placeholder="{{ 'CC' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>

                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'WorkflowName' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.workflowName" i-clear fm-placeholder="{{ 'WorkflowName' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>

                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'AreaCode' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.areaCode" i-clear fm-placeholder="{{ 'AreaCode' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>

                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'CurrentStatus' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-select class="form-control input-sm" items="vm.taskStatus" fm-model="vm.filter.currentStatus" fm-blur="vm.selectS()"></fm-select></div>

                        </div>
                        <div class="col-xs-4 row" ng-repeat="col in vm.columnLists">
                            <div class="col-xs-4 input-group-name">{{col.name}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter[col.value]" i-clear fm-placeholder="{{col.name}}" keydown fm-blur="vm.selectS()"></fm-text></div>

                        </div>
                    </div>
                    <div class="form-search-oper">
                        <input type="button" value="{{:: 'Query' | translate}}" ng-click="vm.selectS()" class="btn btn-sm btn-primary">
                        <input type="button" value="{{:: 'Clear' | translate}}" ng-click="vm.clearS()" class="btn btn-sm btn-default">
                    </div>
                </div>
                <div class="table-bd" style="min-height: 330px; position: relative;">
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th>{{ 'TaskNumber' | translate}}</th>
                                <th>{{ 'WorkflowName' | translate}}</th>
                                <th>{{ 'Sn' | translate}}</th>
                                <th>{{ 'Creator' | translate}}</th>
                                <th>{{ 'CreationDate' | translate}}</th>
                                <th>{{ 'CC' | translate}}</th>
                                <th>{{ 'CCDate' | translate}}</th>
                                <th>{{ 'CurrentStatus' | translate}}</th>
                                <th>{{ 'WorkflowType' | translate}}</th>
                                <th>{{ 'Operation' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.models">
                                <td><div class="txt-warp">{{item.refId}}</div></td>
                                <td><div class="txt-warp">{{item.workflowName}}</div></td>
                                <td>
                                    <div class="txt-warp">
                                        <a class="ink-label" ng-click="vm.edit(item)">
                                            {{item.sn}}
                                            <span ng-if="!!item.areaCode">({{item.areaCode}})</span>
                                        </a>
                                    </div>
                                </td>
                                <td><div class="txt-warp">{{item.submitter}}</div></td>
                                <td>
                                    <div class="txt-warp">
                                        <span class="taskcolumn" title="{{item.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{item.creationTime | date:'yyyy-MM-dd HH:mm'}}</span>
                                    </div>
                                </td>
                                <td><div class="txt-warp">{{item.copyFromUserName}}</div></td>

                                <td ng-if="item.taskStatus > 0">
                                    <div class="txt-warp">
                                        {{item.finishedTime | date:'yyyy-MM-dd HH:mm:ss'}}<span ng-if="item.taskStatus == 1">({{ 'TaskFinishStatus' | translate}})</span><span ng-if="item.taskStatus == 7">({{ 'TaskFinishStatus' | translate}})</span>
                                    </div>
                                </td>
                                <td ng-if="item.taskStatus == 0"><div class="txt-warp">{{item.procUserName}}</div></td>
                                <td><div class="txt-warp">{{item.wfdCategoryName}}</div></td>
                                <td><div class="txt-warp"><!--{{item.enterprise}}--></div></td>
                                <td><div class="txt-warp"></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.paging.totalCount === undefined">
                        <div class="content-spinner-bar">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div ng-if="vm.paging.totalCount === 0" style="text-align: center;">
                        <span class="span1 no-data">当前没有待阅的流程</span>
                    </div>
                    <div class="table-footer-pager" ng-if="vm.paging.totalCount > 0">
                        <rs-pager ng-if="vm.paging.totalCount > vm.paging.pageSize" current-page="vm.paging.currentPage" load="vm.load()" total-count="vm.paging.totalCount" page-size="vm.paging.pageSize"></rs-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>