@charset "UTF-8";
.button-inner, .form-container .form-group input.form-control:focus,
.form-container .form-group textarea.form-control:focus,
.form-horizontal .form-group input.form-control:focus,
.form-horizontal .form-group textarea.form-control:focus,
.container .form-group input.form-control:focus,
.container .form-group textarea.form-control:focus, .form-container .form-control.focus:not(.readonly),
.form-horizontal .form-control.focus:not(.readonly),
.container .form-control.focus:not(.readonly), .ma-select.focus:not(.readonly) {
  border: 1px solid #5077aa !important;
  border-color: #5077aa !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(20, 92, 205, 0.6) !important; }

.ma-data-select.fm-has-error {
  transition: 0.15s;
  border: 1px solid #D9534F;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(205, 20, 92, 0.5); }

html {
  overflow-y: auto;
  overflow-x: hidden; }

input[type=radio], input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none; }

.disabled .form-control, .disabled .form-control:focus,
.readonly .form-control,
.readonly .form-control:focus {
  cursor: not-allowed;
  background-color: #EFEFEF;
  pointer-events: none;
  border-color: #EFEFEF; }

body {
  overflow-x: hidden;
  background-color: #f8f7f7;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body a, body a:hover, body a:focus {
    text-decoration: none; }
  body::-webkit-scrollbar {
    width: 1px;
    display: none；; }

.button, .button-outline, .button-block, .button-primary, .button-danger {
  text-align: center;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 0;
  display: inline-block;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  overflow: hidden;
  vertical-align: -webkit-baseline-middle;
  -webkit-transition: background-color, opacity 100ms linear;
  transition: background-color, opacity 100ms linear;
  -webkit-font-kerning: none;
  font-kerning: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  contain: content;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: button;
  border-radius: 4px;
  height: 3rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #5077aa;
  margin: 0.4rem 0.2rem;
  padding: 0.2rem 0.8em;
  width: 100%; }
  .button.activated, .activated.button-outline, .activated.button-block, .activated.button-primary, .activated.button-danger {
    background-color: #5077aa;
    opacity: 1; }
  .button.small, .small.button-outline, .small.button-block, .small.button-primary, .small.button-danger {
    height: 2.85rem;
    font-size: 1.28rem; }

.button-outline {
  background: transparent !important;
  color: inherit;
  border-color: #5077aa;
  border: 1px solid attr(color); }

.button-clear, .fm-group-head .down-ico,
.fm-select:after,
.ma-data-select > .select-data-button, .button-clear.disabled, .fm-group-head .disabled.down-ico,
.disabled.fm-select:after,
.ma-data-select > .disabled.select-data-button {
  border-color: transparent !important;
  color: #5077aa !important;
  background-color: transparent !important; }
  .button-clear.activated, .fm-group-head .activated.down-ico,
  .activated.fm-select:after,
  .ma-data-select > .activated.select-data-button, .button-clear.disabled.activated, .fm-group-head .disabled.activated.down-ico,
  .disabled.activated.fm-select:after,
  .ma-data-select > .disabled.activated.select-data-button {
    background-color: transparent !important;
    opacity: 0.4 !important; }

.button-block, .button-primary {
  display: block;
  clear: both;
  width: 100%;
  contain: strict;
  margin-left: 0;
  margin-right: 0; }

.button-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.ripple {
  position: relative;
  overflow: hidden; }

input.button, input.button-outline, input.button-block, input.button-primary, input.button-danger {
  user-select: none; }

.ripple-effect {
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 1;
  background: white;
  animation: ripple-animation 2s;
  border-radius: 50%;
  pointer-events: none; }

@keyframes ripple-animation {
  from {
    opacity: .5;
    transform: scale(0); }
  to {
    opacity: 0;
    transform: scale(10); } }
a, a div, a span, a[icon], a label, button, button div, button span, button [icon], button label, [tappable], [tappable] div, [tappable] span, [tappable] [icon], [tappable] label, input, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

:focus,
:active {
  outline: none; }

.button-danger {
  border-radius: 4px;
  height: 3rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #f53d3d; }

.button-primary {
  color: white;
  background-color: #5077aa;
  border-color: #5077aa;
  height: 3rem;
  font-size: 1.6rem; }

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative; }
  input[type=checkbox]:focus {
    outline: none; }
  input[type=checkbox]:before {
    border-radius: 4px;
    display: block;
    content: " ";
    position: absolute;
    left: 1.5px;
    width: 16.1px;
    height: 16.1px;
    top: 1.7px;
    border: 2px solid gray;
    background: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  input[type=checkbox]:checked:before {
    background: #5077aa;
    transform: scale(1.1);
    border-color: #5077aa; }
  input[type=checkbox]:checked:after {
    position: absolute;
    left: 4.1px;
    top: 6.7px;
    content: " ";
    display: block;
    z-index: 1;
    height: 5px;
    width: 11px;
    border: 2px solid white;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease-out; }
  .disabled input[type=checkbox]::after, .readonly input[type=checkbox]::after, input[type=checkbox][readonly]::after, input[type=checkbox][disabled]::after, input[type=checkbox].disabled::after, input[type=checkbox].readonly::after {
    pointer-events: none;
    border-color: #666; }
  .disabled input[type=checkbox]::before, .readonly input[type=checkbox]::before, input[type=checkbox][readonly]::before, input[type=checkbox][disabled]::before, input[type=checkbox].disabled::before, input[type=checkbox].readonly::before {
    background: #EFEFEF;
    border-color: #EFEFEF; }

.row .form-group:last-child {
  margin-bottom: 5px; }
.row .list-group .list-group-item {
  margin-bottom: .5rem; }

.fileIcon.icon-file-image:before {
  color: cadetblue; }
.fileIcon.icon-file-text-o:before {
  color: dodgerblue; }
.fileIcon.icon-file-word:before {
  color: royalblue; }
.fileIcon.icon-file-excel:before {
  color: darkgreen; }
.fileIcon.icon-file-powerpoint:before {
  color: darkorange; }
.fileIcon.icon-file-audio:before {
  color: darkred; }
.fileIcon.icon-file-movie:before {
  color: darkslategray; }
.fileIcon.icon-file-code:before {
  color: indigo; }
.fileIcon.icon-file-pdf:before {
  color: orangered; }
.fileIcon.icon-file-o:before {
  color: darkgray;
  font-size: 15px; }

/*上传附件的颜色*/
.form-buttons button {
  margin-right: 10px; }

/*删除图标的样式*/
.fileRemoveIcon:before {
  color: #ff6464;
  cursor: pointer; }

/*上传人姓名*/
.file-upload-username {
  float: right;
  margin-right: 15px;
  font-size: 12px;
  font-style: normal;
  color: #779; }

/*上传日期*/
.file-upload-date {
  float: right;
  margin-right: 8px;
  font-size: 13px;
  font-style: normal;
  color: #999; }

.form-horizontal .return-bt {
  position: absolute;
  left: 24px;
  top: 19px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(/Content/Images/Ico/return.png); }

.fm-group-head {
  margin: 0.5rem 0px;
  line-height: 1.6rem; }
  .fm-group-head .fm-group-head-ltitle {
    font-size: 0.8rem;
    font-weight: normal; }
  .fm-group-head .fm-group-head-stitle {
    color: grey;
    font-size: 0.8rem; }

.show-fm-errors-container {
  margin: 0.5rem 1rem; }
  .show-fm-errors-container ul li + li {
    margin-top: 0.5rem;
    cursor: pointer; }
  .show-fm-errors-container ul li .icon.icon-long-arrow-up {
    margin-right: 0.4rem; }

.form-container .fm-group-head-ltitle,
.form-horizontal .fm-group-head-ltitle,
.container .fm-group-head-ltitle {
  color: #444;
  font-size: 1.6rem; }
.form-container .fm-group-head-stitle,
.form-horizontal .fm-group-head-stitle,
.container .fm-group-head-stitle {
  color: grey;
  font-size: 1.6rem; }
.form-container .form-large-title,
.form-horizontal .form-large-title,
.container .form-large-title {
  font-size: 1.92rem;
  color: black;
  margin-top: 5px;
  font-family: 'Microsoft YaHei'; }
.form-container .form-small-title,
.form-horizontal .form-small-title,
.container .form-small-title {
  font-size: 0.8rem;
  margin-top: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  margin-bottom: 4px;
  background: #5077aa;
  color: #fff;
  padding-top: 12px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 6px;
  box-shadow: 0 1px 3px #666; }
  .form-container .form-small-title .sub-title,
  .form-horizontal .form-small-title .sub-title,
  .container .form-small-title .sub-title {
    margin: 0.5rem auto; }
.form-container .form-group,
.form-horizontal .form-group,
.container .form-group {
  margin-bottom: 0px;
  line-height: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0.5rem; }
  .form-container .form-group .control-label,
  .form-horizontal .form-group .control-label,
  .container .form-group .control-label {
    padding-top: 0px; }
  .form-container .form-group input.form-control:focus,
  .form-container .form-group textarea.form-control:focus,
  .form-horizontal .form-group input.form-control:focus,
  .form-horizontal .form-group textarea.form-control:focus,
  .container .form-group input.form-control:focus,
  .container .form-group textarea.form-control:focus {
    border: none; }
.form-container .form-label,
.form-horizontal .form-label,
.container .form-label {
  display: block;
  text-align: right;
  color: #666;
  width: 100%; }
.form-container .form-control.readonly:focus, .form-container .form-control.disabled:focus, .form-container .form-control[readonly]:focus, .form-container .form-control[disabled]:focus,
.form-horizontal .form-control.readonly:focus,
.form-horizontal .form-control.disabled:focus,
.form-horizontal .form-control[readonly]:focus,
.form-horizontal .form-control[disabled]:focus,
.container .form-control.readonly:focus,
.container .form-control.disabled:focus,
.container .form-control[readonly]:focus,
.container .form-control[disabled]:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc; }

.fm-has-error select.form-control,
.fm-has-error input.form-control,
.fm-has-error textarea.form-control {
  transition: 0.15s;
  border-color: #D9534F; }
  .fm-has-error select.form-control:focus,
  .fm-has-error input.form-control:focus,
  .fm-has-error textarea.form-control:focus {
    border-color: #5077aa; }

.ma-select.input-sm .select-value {
  line-height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2rem;
  padding-right: 1.7rem; }
.ma-select.open .option {
  display: block;
  position: relative; }
  .ma-select.open .option input {
    display: inline-block;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none !important; }
.ma-select .option {
  display: none;
  top: 100%;
  top: calc(100% + 2px);
  left: 0px;
  border: 1px solid #CCC !important;
  border-radius: 0px;
  background: #FFF;
  -webkit-box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  -moz-box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  box-shadow: 0px 5px rgba(102, 102, 102, 0.1);
  z-index: 9999;
  padding-bottom: 5px;
  height: auto;
  margin: 0px;
  min-width: 100%;
  cursor: default; }
  .ma-select .option ::-webkit-scrollbar {
    display: none; }
  .ma-select .option input {
    display: none;
    width: 100%;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid #CCC;
    padding-left: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px; }
  .ma-select .option .option-item {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    word-wrap: break-word; }
    .ma-select .option .option-item ul {
      padding-left: 0px;
      margin-bottom: 0px;
      background: white;
      text-align: right;
      list-style: none; }
      .ma-select .option .option-item ul li.disabled {
        color: #999;
        background: #EEE; }
      .ma-select .option .option-item ul li.active {
        background: #337AB7;
        color: white;
        transition: ease-out 0.2s;
        position: relative; }
        .ma-select .option .option-item ul li.active:before {
          content: '√';
          display: inline-block;
          position: relative;
          margin-left: -15px;
          color: white;
          font-weight: bold;
          margin-right: 5px; }

.fm-checklist {
  width: 100%;
  height: 100%;
  margin-left: 1rem 0.5rem; }
  .fm-checklist input[type=checkbox]:before, .fm-checklist input[type=checkbox]:after {
    display: none; }
  .fm-checklist ul {
    list-style: none; }
    .fm-checklist ul,
    .fm-checklist ul li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0; }
    .fm-checklist ul li + li {
      margin-top: 0.5rem; }
    .fm-checklist ul li {
      line-height: 2rem;
      height: 2rem;
      vertical-align: middle; }
      .fm-checklist ul li .checkbox-text {
        font-weight: normal; }
      .fm-checklist ul li .checkbox-icon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: -4px 0.7rem 0 1rem;
        border: 2px solid #555;
        border-radius: 4px;
        background: white;
        opacity: 1;
        position: relative;
        display: inline-block;
        transform: scale(1);
        transition: all 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
        .fm-checklist ul li .checkbox-icon .checkbox-inner {
          position: absolute;
          left: 2px;
          top: 2px;
          width: 10px;
          height: 5px;
          display: block;
          border: 2px solid white;
          background: transparent;
          border-top: 0;
          border-right: 0;
          opacity: 0;
          transform: rotate(-45deg) scale(0);
          transition: transform, opacity 0.1s cubic-bezier(0.22, 0.61, 0.36, 1); }
          .fm-checklist ul li .checkbox-icon .checkbox-inner + input[type=checkbox] {
            position: absolute;
            background: transparent;
            -webkit-appearance: none;
            margin: 0;
            padding: 0;
            top: -4px;
            left: -4px;
            height: 20px;
            width: 20px;
            border: none; }
            .fm-checklist ul li .checkbox-icon .checkbox-inner + input[type=checkbox], .fm-checklist ul li .checkbox-icon .checkbox-inner + input[type=checkbox]:focus {
              outline: none; }
      .fm-checklist ul li.checked .checkbox-icon {
        background: #5077aa;
        border-color: #5077aa;
        transform: scale(1.1); }
        .fm-checklist ul li.checked .checkbox-icon .checkbox-inner {
          transform: rotate(-45deg) scale(1);
          opacity: 1; }
      .fm-checklist ul li.disabled .checkbox-icon, .fm-checklist ul li.readonly .checkbox-icon, .fm-checklist ul li[disabled] .checkbox-icon {
        background: #dedede;
        opacity: 0.6;
        border-color: #666; }
        .fm-checklist ul li.disabled .checkbox-icon .checkbox-inner, .fm-checklist ul li.readonly .checkbox-icon .checkbox-inner, .fm-checklist ul li[disabled] .checkbox-icon .checkbox-inner {
          border-color: #666;
          transform: scale(1) rotate(-45deg);
          opacity: 0.6; }
      .fm-checklist ul li.disabled input[type=checkbox], .fm-checklist ul li.readonly input[type=checkbox], .fm-checklist ul li[disabled] input[type=checkbox] {
        pointer-events: none; }
      .fm-checklist ul li.disabled .checkbox-text, .fm-checklist ul li.readonly .checkbox-text, .fm-checklist ul li[disabled] .checkbox-text {
        font-weight: bold;
        pointer-events: none; }

.fm-radiogroup ul {
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-between; }
  .fm-radiogroup ul,
  .fm-radiogroup ul li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; }
  .fm-radiogroup ul li {
    flex: 1;
    width: 100%;
    margin: .5rem 1rem;
    background: white;
    align-items: center; }
    .fm-radiogroup ul li .radio-icon {
      position: relative;
      width: 16px;
      height: 16px;
      border: 2px solid gray;
      border-radius: 50%;
      display: flex; }
      .fm-radiogroup ul li .radio-icon .radio-inner {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        display: flex;
        border-radius: 50%;
        background: transparent;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        .fm-radiogroup ul li .radio-icon .radio-inner + input[type=radio] {
          position: absolute;
          left: -3px;
          top: -8px;
          background: transparent;
          -webkit-appearance: none;
          height: 20px;
          width: 20px; }
          .fm-radiogroup ul li .radio-icon .radio-inner + input[type=radio]:focus, .fm-radiogroup ul li .radio-icon .radio-inner + input[type=radio] {
            outline: none;
            border: none; }
    .fm-radiogroup ul li .radio-text {
      display: flex;
      margin: 0 0.5em;
      font-weight: normal; }
    .fm-radiogroup ul li.checked .radio-icon {
      border-color: #5077aa; }
      .fm-radiogroup ul li.checked .radio-icon .radio-inner {
        background: #5077aa;
        opacity: 1;
        transform: scale(1); }
    .fm-radiogroup ul li[disabled] .radio-icon, .fm-radiogroup ul li.disabled .radio-icon, .fm-radiogroup ul li.readonly .radio-icon {
      border-color: gray;
      opacity: 0.6;
      background: #999; }
      .fm-radiogroup ul li[disabled] .radio-icon .radio-inner, .fm-radiogroup ul li.disabled .radio-icon .radio-inner, .fm-radiogroup ul li.readonly .radio-icon .radio-inner {
        background: #222;
        opacity: inherit;
        transform: scale(1); }
        .fm-radiogroup ul li[disabled] .radio-icon .radio-inner + input[type=radio], .fm-radiogroup ul li.disabled .radio-icon .radio-inner + input[type=radio], .fm-radiogroup ul li.readonly .radio-icon .radio-inner + input[type=radio] {
          pointer-events: none; }
    .fm-radiogroup ul li[disabled] .radio-text, .fm-radiogroup ul li.disabled .radio-text, .fm-radiogroup ul li.readonly .radio-text {
      font-weight: bold;
      pointer-events: none; }
    .fm-radiogroup ul li[disabled]:not(.checked) .radio-icon, .fm-radiogroup ul li.disabled:not(.checked) .radio-icon, .fm-radiogroup ul li.readonly:not(.checked) .radio-icon {
      border-color: gray;
      background: transparent; }
      .fm-radiogroup ul li[disabled]:not(.checked) .radio-icon .radio-inner, .fm-radiogroup ul li.disabled:not(.checked) .radio-icon .radio-inner, .fm-radiogroup ul li.readonly:not(.checked) .radio-icon .radio-inner {
        background: transparent; }

.add-attachments {
  margin-left: 10px;
  font-size: 17px;
  color: #2a6597;
  vertical-align: middle;
  cursor: pointer; }

.fm-text.multiline.readonly > .fm-text-input + .fm-text-shadetext {
  position: relative;
  display: inline-block;
  height: auto;
  min-height: 33px;
  line-height: 25px;
  padding-right: 1.4rem; }
.fm-text.multiline > .fm-text-input + .fm-text-tool, .fm-text.multiline > textarea + .fm-text-tool, .fm-text.multiline > textarea + .fm-text-pre + .fm-text-tool, .fm-text.multiline > .fm-text-input + .fm-text-shadetext + .fm-text-tool {
  position: absolute;
  top: 0px;
  right: 8px; }
.fm-text.multiline > .fm-text-input + .fm-text-tool > .fm-text-tool-clear, .fm-text.multiline > .fm-text-input + .fm-text-pre + .fm-text-tool > .fm-text-tool-clear, .fm-text.multiline > .fm-text-input + .fm-text-shadetext + .fm-text-tool > .fm-text-tool-clear {
  margin-right: -8px; }
.fm-text.single > .select-data-value > .item {
  cursor: default;
  height: 24px;
  line-height: 14px;
  font-size: 12px; }
  .fm-text.single > .select-data-value > .item .disabled span,
  .fm-text.single > .select-data-value > .item .readonly span {
    font-weight: bold; }
  .fm-text.single > .select-data-value > .item > span {
    line-height: inherit;
    font-weight: inherit;
    height: inherit; }
.fm-text .option {
  display: none;
  position: absolute;
  top: 100%;
  top: calc(100% + 2px);
  left: 0px;
  border: 1px solid #CCC !important;
  border-radius: 0px;
  background: #FFF;
  -webkit-box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  -moz-box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  z-index: 9999;
  padding-bottom: 5px;
  height: auto;
  margin: 0px;
  min-width: 100%;
  cursor: default; }
  .fm-text .option .option-item {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px; }
.fm-text .open .option {
  display: block; }
.fm-text.disabled {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #EFEFEF; }
  .fm-text.disabled .fm-text-input {
    display: none; }
  .fm-text.disabled .fm-text-input[type] {
    color: transparent; }
  .fm-text.disabled > .fm-text-input + .fm-text-shadetext {
    background-color: #EFEFEF; }
.fm-text > .fm-text-input[disabled] + .fm-text-tool, .fm-text > .fm-text-input[disabled] + .fm-text-pre + .fm-text-tool, .fm-text > .fm-text-input[disabled] + .fm-text-shadetext + .fm-text-tool {
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
  background-color: #EFEFEF;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px; }
.fm-text:not(.readonly) > .fm-text-input:focus + .fm-text-shadetext.always {
  display: inline-block !important; }
.fm-text:not(.readonly):not(.disabled) > .fm-text-shadetext {
  position: absolute;
  display: none;
  overflow-x: hidden;
  cursor: text;
  top: calc(50% - 9px);
  left: 10px;
  width: calc(90% - 8px);
  background-color: inherit;
  padding-right: 0px;
  text-align: left; }
  .fm-text:not(.readonly):not(.disabled) > .fm-text-shadetext:focus + .fm-text-shadetext {
    display: none !important; }
.fm-text:not(.readonly):not(.disabled):focus + .fm-text-shadetext {
  display: none !important; }

.fm-textarea {
  display: block;
  resize: vertical;
  min-height: 4rem;
  position: relative; }
  .fm-textarea textarea {
    height: 100%;
    width: 100%;
    padding: 0.7rem;
    min-height: inherit; }
    .fm-textarea textarea::-webkit-scrollbar {
      display: none; }
    .fm-textarea textarea:not([readonly]) + .fm-text-tool, .fm-textarea textarea:not([disabled]) + .fm-text-tool {
      position: absolute;
      right: 0.5rem;
      top: 0;
      display: block; }
      .fm-textarea textarea:not([readonly]) + .fm-text-tool i, .fm-textarea textarea:not([disabled]) + .fm-text-tool i {
        right: 0;
        top: 0; }
    .fm-textarea textarea:not([readonly]):focus + .fm-text-tool i, .fm-textarea textarea:not([disabled]):focus + .fm-text-tool i {
      position: absolute; }
    .fm-textarea textarea[readonly], .fm-textarea textarea[disabled] {
      overflow-y: scroll;
      background-color: #EFEFEF;
      border-color: #EFEFEF; }
      .fm-textarea textarea[readonly] + .fm-text-tool i, .fm-textarea textarea[disabled] + .fm-text-tool i {
        display: none; }

.fm-group-head .down-ico,
.fm-select:after,
.ma-data-select > .select-data-button {
  float: right;
  width: 8px;
  height: 14px;
  background: url(/Content/Images/Ico/line_more.png);
  margin-top: 6px;
  transition: all .3s; }

.row .form-group:last-child {
  margin-bottom: 5px; }
.row .list-group .list-group-item {
  margin-bottom: .5rem; }

.form-item-box {
  background: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  box-shadow: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .form-item-box dd {
    display: none; }
  .form-item-box.open .fm-group-head .down-ico {
    transform: rotate(270deg); }
  .form-item-box.row .container .row {
    margin-top: .5rem;
    margin-left: 0rem;
    margin-right: 0rem; }

.fm-select:after {
  display: block;
  position: absolute;
  content: '';
  transform: rotate(0deg);
  right: 0;
  top: 0px;
  opacity: 0.6; }

.ma-data-select {
  display: block;
  width: 100%;
  position: relative;
  min-height: 29px;
  min-width: 30px;
  font-size: 12px; }
  .ma-data-select > .select-data-button {
    position: absolute;
    border: 0;
    padding: 0;
    outline: none;
    transform: rotate(0deg);
    top: 2px;
    right: -8px;
    width: 78px;
    color: black;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: 62px 0;
    opacity: .6;
    line-height: 1; }
  .ma-data-select.disabled {
    background-color: #EFEFEF;
    color: #222;
    cursor: not-allowed !important;
    transition: none; }
    .ma-data-select.disabled:after {
      border-top-color: #AAA !important; }
    .ma-data-select.disabled > .select-data-value > .item {
      cursor: not-allowed !important; }
    .ma-data-select.disabled > .select-data-button {
      color: #353535 !important;
      background-color: #f2f2f2;
      border-color: #ccc;
      cursor: not-allowed; }
      .ma-data-select.disabled > .select-data-button:hover {
        transition: none;
        box-shadow: none; }
      .ma-data-select.disabled > .select-data-button:focus {
        box-shadow: none;
        border-color: #ccc;
        outline: none; }
  .ma-data-select.readonly {
    border: none;
    border-bottom: 1px dashed #CCC;
    cursor: default; }
    .ma-data-select.readonly .placeholder {
      display: none; }
    .ma-data-select.readonly > .select-data-value {
      width: 100%;
      box-shadow: none; }
    .ma-data-select.readonly:after {
      border-top-color: transparent; }
    .ma-data-select.readonly > .select-data-button {
      display: none; }
  .ma-data-select.readonly.multi > .select-data-value > .item:after, .ma-data-select.disabled.multi > .select-data-value > .item:after {
    display: none; }
  .ma-data-select.open {
    transition: ease-out 0.1s;
    box-shadow: 0px 2px 3px 0px rgba(200, 200, 200, 0.8); }
  .ma-data-select > .placeholder {
    position: absolute;
    display: inline-block;
    font-size: 13px;
    color: #AAA;
    line-height: 29px;
    padding-left: 10px; }
  .ma-data-select > .placeholder.hide {
    display: none; }
  .ma-data-select > .select-data-value {
    position: relative; }
  .ma-data-select.single > .select-data-value > .item {
    padding-right: 18px; }
    .ma-data-select.single > .select-data-value > .item > .remove {
      display: inline-block;
      font-size: 18px;
      line-height: 29px;
      position: absolute;
      width: 18px;
      height: 18px;
      right: 5px;
      top: 0px;
      color: #353535;
      z-index: 9999;
      margin-right: -3px;
      -webkit-text-size-adjust: none;
      opacity: 0.0;
      cursor: pointer; }
    .ma-data-select.single > .select-data-value > .item:hover > .remove {
      opacity: 1.0;
      transition: ease-out 0.2s; }
  .ma-data-select.multi.readonly > .select-data-value > .item, .ma-data-select.single.readonly > .select-data-value > .item, .ma-data-select.multi.disabled > .select-data-value > .item, .ma-data-select.single.disabled > .select-data-value > .item {
    cursor: default; }
  .ma-data-select.multi > .select-data-value > .item {
    position: relative;
    display: inline-block;
    height: 29px;
    line-height: 26px;
    background: #f1f1f1;
    padding-left: 5px;
    padding-right: 16px;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: -1px;
    max-width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; }
    .ma-data-select.multi > .select-data-value > .item:hover {
      content: '×';
      position: absolute;
      display: inline-block;
      right: 3px;
      top: 2px;
      color: #353535;
      z-index: 998;
      width: 8px;
      height: 8px;
      line-height: 8px;
      cursor: pointer; }
    .ma-data-select.multi > .select-data-value > .item:after {
      content: '×';
      position: absolute;
      display: inline-block;
      right: 3px;
      top: 2px;
      color: #353535;
      z-index: 998;
      width: 8px;
      height: 8px;
      line-height: 8px;
      cursor: pointer; }
  .ma-data-select.ma-datatext-select.readonly > .select-data-value > input {
    display: none; }
  .ma-data-select.ma-datatext-select.readonly > .select-data-value > .item {
    display: block; }
  .ma-data-select.ma-datatext-select.disabled > .select-data-value > .item {
    background-color: #f2f2f2;
    cursor: not-allowed; }
  .ma-data-select.ma-datatext-select:not(.readonly) > .select-data-value > .item {
    display: none; }
  .ma-data-select.ma-datatext-select:not(.readonly) > .select-data-value > input {
    display: block; }

.fm-text-hide.ma-data-select {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: auto;
  -moz-min-width: auto;
  -ms-min-width: auto;
  -o-min-width: auto;
  -webkit-min-width: auto;
  min-width: auto;
  max-width: auto;
  vertical-align: middle; }
  .fm-text-hide.ma-data-select > .select-data-value {
    display: none; }
  .fm-text-hide.ma-data-select > .select-data-button {
    -ms-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    width: auto;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: -20px; }

.fm-number .fm-text-shadetext {
  padding-right: 1.4rem; }

.main-select-text {
  margin-left: 33px;
  margin-top: 10px;
  display: inline-block;
  position: absolute; }
  .main-select-text > input {
    font-family: 'Microsoft YaHei';
    font-size: 15px;
    float: left;
    height: 32px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding-left: 30px;
    width: 300px; }

.modal-group .panel > .panel-heading > .selectTxt > [type=text] {
  border: 0px solid #DFDFDF;
  font-size: 13px;
  height: 36px;
  padding-left: 8px;
  border-radius: 0px;
  font-family: 'Microsoft YaHei';
  width: calc(100% - 22px);
  position: absolute; }

.modal-group .panel > .panel-heading > .selectTxt > [type=text]:focus {
  outline: 0px !important;
  box-shadow: none; }

.modal-group .panel > .panel-body {
  height: 333px;
  padding: 0px;
  outline: none !important;
  overflow-y: auto; }

/*选择人员*/
.modal-user {
  overflow-y: hidden;
  overflow-x: hidden; }
  .modal-user .panel {
    margin-bottom: 0px; }
    .modal-user .panel > .panel-heading {
      position: relative;
      outline: none !important; }
    .modal-user .panel > .panel-heading > .selectTxt {
      position: absolute;
      right: 0px;
      top: 0px;
      width: calc(100% - 100px);
      background-color: white;
      padding-left: 8px;
      border-top-right-radius: 4px;
      color: #BBB;
      height: 36px;
      line-height: 36px; }
      .modal-user .panel > .panel-heading > .selectTxt > [type=text] {
        border: 0px solid #DFDFDF;
        font-size: 13px;
        height: 36px;
        padding-left: 8px;
        border-radius: 4px;
        font-family: 'Microsoft YaHei';
        width: calc(100% - 22px);
        position: absolute; }
        .modal-user .panel > .panel-heading > .selectTxt > [type=text]:focus {
          outline: 0px !important;
          box-shadow: none; }
    .modal-user .panel > .panel-body, .modal-user .panel .panel > .panel-body {
      padding: 0px;
      outline: none !important;
      overflow-x: auto;
      overflow-y: auto; }
    .modal-user .panel > .panel-body, .modal-user .panel .panel > .panel-body > table {
      margin-bottom: 0px; }

.form-control[readonly] {
  padding-left: 0px;
  text-align: left;
  color: #666;
  border: none;
  width: 100%;
  height: 32px;
  background-color: transparent;
  box-shadow: none;
  cursor: default; }

.close:hover, .close:focus {
  outline: none !important; }

.searchdiv {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  width: 326px; }
  .searchdiv > span {
    width: 80px;
    display: inline-block;
    font-size: 14px;
    color: #4a4a4a; }

.search {
  padding: 6px 10px;
  font-size: 14px;
  color: #7a7a7a;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  margin-right: 15px; }

/*# sourceMappingURL=mobile.css.map */
