
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head></head>
<body>
    <script src="/Account/Permissions" type="text/javascript"></script>
<script type="text/javascript">
    debugger;
    window.location.href =
        "/pages/Wfmobile?nodeId=@ViewBag.nodeId&pageId=@ViewBag.pageId&jobId=@ViewBag.jobId&taskId=@ViewBag.taskId&procId=@ViewBag.procId&draftId=@ViewBag.draftId&areaCode=@ViewBag.areaCode&topic=@ViewBag.topic&isPrint=0&param=@ViewBag.param";
</script>

</body>
</html>
