<div ng-controller="syspages.views.my.workflowcenter.mycopied as vm">
    <div class="row">
        <div class="modal-user" style="position:relative;">
            <div class="role_tree">
                <div id="phMenu"><div class="page-menu"></div></div>
            </div>
            <div class="flow-table">
                <div>
                    <ul class="flow-list-tab clear">
                        <li><label ng-click="vm.show()" class="{{vm.showSearch==true?'open':''}}"><i class="icon-search"></i> {{ 'FilterCondition' | translate}}</label></li>
                    </ul>
                </div>
                <div class="search-hide" ng-if="!!vm.showSearch">
                    <div class="form-search-group clear">
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'Sn' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.sn" i-clear fm-placeholder="{{ 'Sn' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'Creator' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.creator" i-clear fm-placeholder="{{ 'Creator' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'CC' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.cc" i-clear fm-placeholder="{{ 'CC' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'WorkflowName' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.workflowName" i-clear fm-placeholder="{{ 'WorkflowName' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'AreaCode' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter.areaCode" i-clear fm-placeholder="{{ 'AreaCode' | translate}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4 input-group-name">{{ 'CurrentStatus' | translate}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-select class="form-control input-sm" items="vm.taskStatus" fm-model="vm.filter.currentStatus" fm-blur="vm.selectS()"></fm-select></div>
                        </div>
                        <div class="col-xs-4 row" ng-repeat="col in vm.columnLists">
                            <div class="col-xs-4 input-group-name">{{col.name}}:</div>
                            <div class="col-xs-8 input-group-value"><fm-text fm-model="vm.filter[col.value]" i-clear fm-placeholder="{{col.name}}" keydown fm-blur="vm.selectS()"></fm-text></div>
                        </div>
                        
                    </div>
                    <div class="form-search-oper">
                        <input type="button" value="{{:: 'Query' | translate}}" ng-click="vm.selectS()" class="btn btn-sm btn-primary" />
                        <input type="button" value="{{:: 'Clear' | translate}}" ng-click="vm.clearS()" class="btn btn-sm btn-default" />
                    </div>
                </div>
                <div class="table-bd" style="min-height: 330px; position: relative;">
                    <div class="" ng-if="vm.models.length > 0">
                        <div class="sp-tablecolumn">
                            <div class="sp-tablecell">
                                <table class="sortable table-responsive">
                                    <thead>
                                        <tr>
                                            <th class="order both" name="TaskNumber">{{ 'TaskNumber' | translate}}</th>
                                            <th class="order both" name="WorkflowName" ng-if="!vm.moduleIds">{{ 'WorkflowName' | translate}}</th>
                                            <th class="order both" name="sn">{{ 'Sn' | translate}}</th>
                                            <th class="order both" name="Creator">{{ 'Creator' | translate}}</th>
                                            <th class="order both" name="CreationDate">{{ 'CreationDate' | translate}}</th>
                                            <th class="order both" name="CC">{{ 'CC' | translate}}</th>
                                            <th class="order both" name="CCDate">{{ 'CCDate' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in vm.models track by $index">
                                            <td><div class="txt-warp">{{task.refId}}</div></td>
                                            <td ng-if="!vm.moduleIds">
                                                <div class="txt-warp"><span class="taskcolumn">{{task.workflowName}}</span></div>
                                            </td>
                                            <td>
                                                <div class="txt-warp">
                                                    <a class="ink-label ng-binding" ng-click="vm.edit(task)">
                                                        {{task.sn}}
                                                        <span ng-if="!!task.areaCode">({{task.areaCode}})</span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td><div class="txt-warp">{{task.submitter}}</div></td>
                                            <td>
                                                <div class="txt-warp">
                                                    <span class="taskcolumn" title="{{task.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{task.creationTime | date:'yyyy-MM-dd HH:mm'}}</span>
                                                </div>
                                            </td>
                                            <td><div class="txt-warp">{{task.copyFromUserName}}</div></td>
                                            <td><div class="txt-warp">{{task.copyCreationTime | date : 'yyyy-MM-dd HH:mm'}}</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--
            -->
                        <div class="sp-tablecolumn sp-scrolltable" ng-if="vm.columnLists.length > 0 && !!vm.moduleIds">
                            <div class="sp-tablecell">
                                <table class="sortable table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="max-width: 300px;" ng-repeat="aa in vm.columnLists track by $index">{{aa.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in vm.models track by $index">
                                            <td style="max-width: 300px;" ng-repeat="cc in vm.columnLists track by $index" ng-if="vm.columnLists.length > 0">
                                                <div class="txt-warp">
                                                    <span class="taskcolumn" title="{{task[cc.value]}}">{{task[cc.value]}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--
            -->
                        <div class="sp-tablecolumn">
                            <div class="sp-tablecell">
                                <table class="sortable table-responsive">
                                    <thead>
                                        <tr>
                                            <th class="order both" name="procUserName" style="max-width: 300px;">{{ 'CurrentStatus' | translate}}</th>
                                            <th>{{ 'Operation' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in vm.models track by $index">
                                            <td style="max-width: 300px;">
                                                <div class="txt-warp">
                                                    <span class="taskcolumn" title="{{task.finishedTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{task.taskTitle}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="txt-warp">
                                                    <i title="标记" class="fa-effect-boris cursor-pointer text-warning" ng-class="{true:'icon icon-star',false:'icon icon-star-empty',null:'icon icon-star-empty'}[task.isMarked]" ng-click="vm.mark(task)"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.paging.totalCount === undefined">
                        <div class="content-spinner-bar">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div ng-if="vm.paging.totalCount === 0" style="text-align: center;">
                        <span class="span1 no-data">{{ 'NoCopied' | translate}}</span>
                    </div>
                    <div class="table-footer">
                        <div class="table-footer-pager" ng-if="vm.paging.totalCount > 0">
                            <rs-pager ng-if="vm.paging.totalCount > vm.paging.pageSize" current-page="vm.paging.currentPage" load="vm.load()" total-count="vm.paging.totalCount" page-size="vm.paging.pageSize"></rs-pager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>