@{
    Layout = "~/Views/Home/Single.cshtml";
    ViewBag.hasSubMenu = true;
}

<div class="page-con">
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <iframe name="_main" class="imain"></iframe>
    <div class="loading"><div class="content-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
</div>