@{
    Layout = "~/Views/Home/_Layout.cshtml";
    ViewBag.Title = "流程中心";
    ViewBag.hasSubMenu = true;
}
<div class="page-con">
    <div class="main-head">
        <h2>@ViewBag.Title</h2>
        <div class="logo">
            <img src="~/Content/Images/new/logoA.png">
        </div>
    </div>
    <iframe name="_main" class="imain"></iframe>
    <div class="loading"><img src="~/Content/Images/new/loading.gif" /></div>
</div>
