<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dllList" type="Sl.Bpm.Repository.Dto.DllConfigDto, Sl.Bpm.Repository"/>
  </configSections>

  <appSettings>
    <!--是否开启动态编译，从数据库中加载代码-->
    <add key="DynamicCompile" value="false"/>

    <add key="autoFormsAuthentication" value="false"/>
    <add key="enableSimpleMembership" value="false"/>
    <add key="log4net.Config" value="Logger.log4net"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="DBType" value="SQL"/>
    <add key="LoadBalance" value="false"/>
    <add key="LoadBalanceCookiePath" value="\\BPMAPP01\BpmCookieShare"/>
    <add key="AdLogin" value="false"/>
    <add key="AdPath" value="LDAP://192.168.0.6/DC={0},DC=com,DC=cn"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="EnableAuditing" value="false"/>
    <add key="EnableTest" value="true"/>
    <add key="RedisServerAddress" value="10.0.0.25:6380,10.0.0.25:6381"/>

    <!--测试的企业微信-->
    <!--<add key="CorpId" value="ww451bd2519734f3c7" /> -->
    <!--测试的企业微信-->
    <!--<add key="OdfAppAgentId" value="1000003" /> -->
    <!--测试的企业微信1000003-->
    <!--<add key="OdfAppSecret" value="ycZ7ezqFx_AulonUMg3QtyhvmU1QIq2rNQN-2Z6XjfM" />-->
    <!--测试的企业微信订餐应用的secret-->
    <!--<add key="ContactAppSecret" value="9PX7FBOn2R3aHMl2dFijyQBCMS15dCX8LgtNIDQyClo" />-->
    <!--通讯录-->
    <!--<add key="MsgToken" value="WbrevLBtodjbs9cCJW180x" />-->
    <!--<add key="MsgEncodingAESKey" value="RDjEwHt3ZfFM5ZsR61HWreCpSBdjUkxBB1kQrBjR7UI" />-->
    <!--<add key="MsgURL" value="http://trinasolar.dev.shalu.com:8005/wx/WxMsgEventReceiver" />-->

    <!--测试的企业微信-->

    <!--================================安全公司 start===============================-->
    <add key="CorpId" value="wwd26a1c0ce8be1a3c"/>
    <add key="ContactAppSecret" value="9PX7FBOn2R3aHMl2dFijyQBCMS15dCX8LgtNIDQyClo"/>
    <!--通讯录-->
    <add key="OdfAppSecret" value="nUEtEUc-mKdJPLGhM5BFh8q7N-pE2UYdQXjEC3626lw"/>
    <!--订餐应用的secret-->
    <add key="OdfAppAgentId" value="1000002"/>
    <!--订餐应用的AgentId-->
    <add key="OdfAppServerHost" value="http://trinasolar.dev.shalu.com:8005"/>
    <!--用户点击消息，进入应用的url-->
    <add key="EnterOdfAppUrl" value="http://mt.i-tuku.com:8005/OrderFood/wxauthlogin"/>
    <add key="CheckMsgReadUrl" value="http://mt.i-tuku.com:8005/wx/wxauthlogin"/>
    <add key="MsgToken" value="WbrevLBtodjbs9cCJW180x"/>
    <add key="MsgEncodingAESKey" value="RDjEwHt3ZfFM5ZsR61HWreCpSBdjUkxBB1kQrBjR7UI"/>
    <add key="MsgURL" value="http://mt.i-tuku.com:8005/wx/WxMsgEventReceiver"/>
    <!--消息回调-->
    <!--通知、消息 自建应用 start -->
    <add key="ComMsgAppAgentId" value="1000003"/>
    <add key="ComMsgAppSecret" value="FL9TYogOKYZRSP-pwI4Kyw7W78KfOcWvolQqMnDdGa0"/>
    <!--通知、消息 自建应用 end -->
    <!--================================安全公司 end===============================-->
    <add key="ida:ADFSMetadata" value="https://sts.yfss.com/federationmetadata/2007-06/federationmetadata.xml"/>
    <add key="ida:Wtrealm" value="urn:yfss:bpmtest"/>
    <add key="owin:AutomaticAppStartup" value="true"/>
    <!-- 老系统连接字 -->
    <add key="PrevBpmConName" value="OldBpm"/>
    <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
  </appSettings>
  <!---
  * 额外引用的dll配置 
  * 首先要释放开注释节点
  * 已添加过的程序集或dll将被忽略
  * 请严格区分大小写(包括 name path 及相应的值)
  * 引用的dll在bin目录且不属于系统程序集 如 <dllInfo name="Sl.Bpm.SapHelper.dll" path="bin"/>
  * 引用的dll名称为系统级程序集,不需要指定目录 如 <dllInfo name="System.Core.dll"/>
      <dllInfo name="Sl.Bpm.SapHelper1.dll" path="bin"/>
-->
  <dllList>
    <dllInfo name="Senparc.CO2NET.dll" path="bin"/>
    <dllInfo name="Senparc.NeuChar.dll" path="bin"/>
    <dllInfo name="Senparc.Weixin.dll" path="bin"/>
    <dllInfo name="Senparc.Weixin.Work.dll" path="bin"/>
    <dllInfo name="System.Configuration.dll"/>
  </dllList>

  <connectionStrings>
    <!--本地环境-->
    <add name="Default" connectionString="Data Source = 106.14.24.159,31433\SQL2016;Initial Catalog=Yfss.Bpm20181012_2;Persist Security Info=true;User ID=sa;PWD=Test123;Packet Size=4096;" providerName="System.Data.SqlClient"/>
    <!--<add name="Default" connectionString="Data Source = 172.31.243.111;Initial Catalog=Yfss.Bpm20181012;Persist Security Info=true;User ID=bpmadm;PWD=Bpmadm89;Packet Size=4096;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="Data Source = 172.31.243.111;Initial Catalog=Yfss.Bpm_dev;Persist Security Info=true;User ID=bpmadm;PWD=Bpmadm89;Packet Size=4096;" providerName="System.Data.SqlClient" />-->
    <add name="OldBpm" connectionString="Data Source = 172.31.243.111;Initial Catalog=BPMTEST;Persist Security Info=true;User ID=bpmadm;PWD=Bpmadm89;Packet Size=4096;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>
